/*!
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */
:root {
	--cor1:#000000;
	--cor2:#ece9e9;
	--cor3:#cccccc;
	--cor4:#ebc850;
	--cor5:#b89ad6;
    --cor6:#a48cbb;
    --cor7:#f9f9f9;
    --red:red;
	--white:white;
	--black:black;
}
body {
    width:100%;
    font-family:'Quicksand';
    font-size:calc(0.75rem + 1vmin);
    line-height:calc(1rem + 1vmin);
    font-weight:400;
    color:var(--black);
    background-color:var(--cor7);
}
p {color:var(--black);}
.h2, h2 {
    font-size:1.4rem;
    color:unset;
    font-weight:bold;
}
i {font-style:normal}
#sectionOne {
    position:relative;
    top:4.6rem;
}
.row {--bs-gutter-x:0;}
.flower {
    position: relative;
    top: 0;
    width:21px;
    margin:0 10px 0 0;
}
.flower2 {
    position: relative;
    top: -6px;
    width: 20px;
    margin: 0;
}
.flowerP {
    width:20rem;
    margin:0 0 0 -21px;
}
.paymentIco {width:3rem;margin:0 15px 0 0;}
.bold {font-weight:bold;}
.sx {font-size:1rem;color:var(--black)!important}
.sx>a {font-size:0.7rem;font-weight:bold;color:var(--black)!important}
.sx>a:hover {font-size:0.9rem;color:var(--cor5)!important}
.mx {font-size:1.2rem;}
.bx {font-size:1.4rem;}
.pt3 {padding-top:0.3rem;}
.pt5 {padding-top:0.5rem;}
.pt8 {padding-top:0.8rem;}
.pt15 {padding-top:1.5rem;}
.pt20 {padding-top:2rem;}
.pt25 {padding-top:2.5rem;}
.pt27 {padding-top:2.7rem;}
.pt30 {padding-top:3rem;}
.pb5 {padding-top:0.5rem;}
.star {width:65%;margin:0 auto;}
.star i {
    flex-shrink:unset;
    width:unset;
    max-width:unset;
    padding-right:unset;
    padding-left:unset;
    margin-top:unset;
    margin:0 auto;
    color:var(--cor4);
}
.pt30 i {
    flex-shrink:unset;
    width:unset;
    max-width:unset;
    padding-right:unset;
    padding-left:unset;
    margin-top:unset;
    color:var(--black);
}
.mr10 {margin-right:1rem;}
.input-group{padding:0;}
.fc2 {width:94%;}
.btn-primary{color:var(--white);background-color:var(--cor5);border-color:var(--cor5)}
.btn-primary:hover{color:var(--white);background-color:var(--cor6);border-color:var(--cor6)}

.btn-secondary{color:var(--black);background-color:var(--cor3);border-color:var(--cor3)}
.btn-secondary:hover{color:var(--black);background-color:var(--cor7);border-color:var(--cor7)}

.btn-dark{color:var(--white);background-color:var(--black);border-color:var(--black)}
.navbar {
    padding-top:1rem;
    padding-bottom:1rem;
}
.bg-dark {
    background:#0e1726;
}
.navbar .nav-logo a.navbar-brand .navbar-brand-name {
    position: relative;
    top: 4px;
    font-size:24px!important;
    color:#e0e6ed!important;
    padding:0.8rem;
    font-weight:700;
    margin-right:47px;
    margin-top:10px;
}
.navbar .nav-logo a.navbar-brand img {
    vertical-align:top;
    width:34px;
    height:34px;
    border-radius:6px;
}
.fr,
.text-right {
	float:right;
}
.nav-tabs .nav-link {
    font-size:1rem;
    border:2px solid transparent;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    font-size:1rem;
    font-weight:bold;
    color:var(--black);
    background-color:transparent;
    border-color:transparent transparent black transparent;
}
.detalhes,
.comentarios {
    padding: 1rem 0.5rem;
}
.comentarios {
    font-size: 1rem;
    position: relative;
    top: 20px;
    left: 10px;
    width: 94%;
    height: fit-content;
    background-color: var(--cor3);
    border-radius: 10px;
}
.comentPic {
    width: 60px;
    Height: auto;
    margin: 20px 0 0 0;
}
.comentStar {
    position: relative;
    top: 25px;
    right: 10px;
    width: 40%;
    margin: 0 auto;
    text-align: right;
    float: right;
}
figure img {
	width:800px;
}
.box,
.operadora{
    display: flex;
    background: var(--white);
    width: 100%;
    border: 1px solid var(--cor2);
    padding: 20px 20px 20px 20px;
    border-radius:0 0 10px 10px;
    margin-bottom: 20px;
  }
.info-operadora{
  padding: 0 5px 0 40px;
}
.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size:1rem;
}
.total {
    font-size: 1rem;
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.item-filantropia {
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}