@charset "UTF-8";
/*
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2022 Cristian Elvis
 */
@font-face {
    font-family: Averta Regular;
    src: url(../fonts/Averta-Regular.woff);
    font-weight: normal;
}
 :root {
    --AzulFirjan:#003bd1;
    --CinzaFirjan:#393230;
    --AzulFirjanII:#0e65e5;
    --CinzaFirjanII:#9c9897;
    --AzulSENAI:#83c7e5;
    --LaranjaSESI:#ec8112;
    --VerdeCIRJ:#b2d465;
    --AcquaIEL:#8cc7b9;
    --gray0:#262626;
    --gray1:#413e3e;
    --gray2:#626060;
    --gray3:#c4c4c4;
    --gray4:#f4f4f4;
    --gray5:#f6f6f6;
}
html,
body {
    position:relative;
    width:100%;
    min-height:100vh;
    font-family:'Averta Regular', 'Montserrat', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size:14px;
    font-weight:400;
    line-height:120%;
    color:var(--CinzaFirjan);
    text-align:center;
    overflow-x:hidden;
    scroll-behavior:smooth;
}
body::after {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content:url(../images/bandeira-firjan.png);
}
.grid,
.grid-left,
.grid-right,
.grid-H {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.grid-left {
    align-items:start;
    text-align:start;
}
.grid-right {
    align-items:end;
    text-align:end;
}
.grid-H {
    flex-direction:initial;
}
.grid-H i {
    color:var(--LaranjaSESI);
    font-size: 300%;
}
@media screen and (max-width:576px) {
    .grid,
    .grid-left,
    .grid-right {
        align-items:center;
    text-align:center;
    }
}
.navbar {
    padding:0.6vh 1.2vw 0.6vh 1.2vw;
}
.navHide,
.navShow {
    top:0;
    background-color: white;
    transition:all 0.5s ease;
}
.navShow {
    top:0;
    background-color: white;
    transition:all 0.5s ease;
}
.navbar-brand {
    width: 25vh;
    padding:0;
    margin:1vh 0;
    font-size:unset;
    text-decoration:unset;
    white-space:nowrap;
}
.navbar-toggler-icon {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")!important;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    position:relative;
    top:0;
    font-size:100%;
    color:var(--CinzaFirjan);
    padding:0 2.5vh;
    margin:0 auto;
    display:inline-flex;
    flex-direction: column;
    white-space:nowrap;
    transition:all 0.5s ease;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color:var(--AzulFirjanII);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:var(--LaranjaSESI);
    top:-0.6vh;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color:var(--VerdeCIRJ);
}
.nav-link i {
    font-size: 180%;
    margin-bottom: 1.2vh;
}
.nav-link .nav-link-user {
    width: 4.5vh;
    margin:0 auto;
    margin-bottom: 0;
    border-radius:50%;
}
.dropdown-menu {
    background-color:var(--gray1);
    border:0;
}
.dropdown-item {
    position:relative;
    top:0;
    font-size:100%;
    color:var(--gray5);
    padding:1vh 2.5vh;
    margin:0 auto;
    display:inline-block;
    white-space:nowrap;
    transition:all 0.5s ease;
}
.dropdown-item.active,
.dropdown-item:active {
    color:var(--gray5);
    background-color:var(--AzulFirjanII);
}
.dropdown-item:hover {
    color:var(--gray5);
    top:-0.6vh;
    background-color:var(--LaranjaSESI);
}
.dropdown-item:focus {
    color:var(--gray5);
    background-color:var(--VerdeCIRJ);
}
.form-floating label {
    font-size:120%;
    left:1vh;
    text-align:start;
    transition:all 0.5s ease;
}
.input-group .form-floating label {
    left:0;    
}
.form-control,
.form-select {
    font-size: 120%;
}
.form-control:disabled,
.form-control[readonly],
.form-select:disabled,
.form-select[readonly] {
    background-color: transparent;
    border-color: transparent;
}
.fc-title {
    font-weight: bold;
}
@media screen and (max-width:768px) {
    .navbar-brand {
        width: 30vh;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active {
        margin:2vh auto;
    }
    .navbar-collapse {
        padding:1vh;
        background-color:var(--cor03);
        border-radius:1vh;
    }
}
@media screen and (min-width: 992px) {
	.navbar .dropdown-menu-end{right:0; left: auto;}
	.navbar .nav-item .dropdown-menu{display:block; opacity: 0;  visibility: hidden; transition:.3s; margin-top:0;}
	.navbar .dropdown-menu.fade-down{top:80%; transform: rotateX(-75deg); transform-origin: 0% 0%;}
	.navbar .dropdown-menu.fade-up{top:180%;}
	.navbar .nav-item:hover .dropdown-menu{transition: .3s; opacity:1; visibility:visible; top:100%; transform: rotateX(0deg);}
}
/* LOGIN */
#login .grid-left {
    height:100vh;
    background-color:var(--AzulFirjanII);
    align-items:center;
    text-align:center;
    background-image:url(../images/pattern-AzulFirjan.png);
    background-size: cover;
}   
#login .grid-left .bandeira {
    width:50vh;
}
#login .grid-right {
    height:100vh;
    padding:0 26vh 0 26vh;
    background-color:var(--gray4);
    align-items:start;
    text-align:start;
}
#login .grid-right .brand {
    width:20vh;
    margin-bottom:6vh;
}
#login .grid-right .card {
    width: 100%;
    border:0;
    background-color: transparent;
}
#login .grid-right .form-floating>label {
    transition:all 0.5s ease;
}
#login .grid-right a {
    color: var(--AzulFirjanII);
    text-decoration: none;
}
#login .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    background-color:var(--AzulFirjanII);
}
@media screen and (max-width:576px) {
    #login .grid-left {
        height: 30vh;
    }
    #login .grid-left .bandeira {
        width:30vh;
    }
    #login .grid-right {
        height: 70vh;
        padding: 6vh 3vh 6vh 3vh;;
    }
}
/* DASHBOARD */
#dashboard {
    width: 100%;
    height: auto;
    padding: 10vh 0 10vh 0;
    background-color: var(--gray4);
}
#dashboard .banner {
    color: var(--gray5);
    padding:6vh 0 6vh 0;
    margin-bottom: 6vh;
    background-color:var(--AzulFirjanII);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#dashboard .grid {
    flex-direction: initial;
}
#dashboard .table {
    margin-bottom: 0;
}
#dashboard .table>:not(caption)>*>* {
    border:0;
}
.dashboard-card {
    width: 35vh;
    height: 45vh;
    color: var(--gray5);
    margin: 1vh;
    padding: 28vh 2vh 2vh 2vh;
    background: var(--CinzaFirjan);
    border-radius: 1vh;
    box-shadow:6px 6px 18px -12px rgb(0 0 0 / 50%);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition:all 0.5s ease;
}
.dashboard-card h3 {
    font-size: 300%;
    margin: 0 auto;
    transition:all 0.5s ease;
}
.dashboard-card  h4 {
    font-size: 150%;
    font-weight:bold;
    line-height: 1.8;
    margin: 0 auto 1vh auto;
    transition:all 0.5s ease;
}
.dashboard-card a {
    opacity: 0;
    width: 100%;
    color: var(--gray5);
    text-decoration: none;
    padding:2vh 1.4vh;
    margin: 0.3vh auto;
    background-color: var(--AzulFirjan);
    border-radius: 0 1vh 0 1vh;
    display: flex;
    flex-direction: initial;
    white-space: break-spaces;
    transform: translateY(-1em);
    transition:all 0.5s ease;
}
.dashboard-card a:hover {
    color:var(--gray5);
    font-size:120%;
    font-weight:bold;
    text-align:start;
    background-color: var(--AzulFirjanII);
}
.dashboard-card:hover {
    color: var(--CinzaFirjan);
    padding:2vh 2vh 2vh 2vh;
    background: var(--gray3);
}
.dashboard-card:hover h,
.dashboard-card:hover h4 {
    transform: scale(0.8);
}
.dashboard-card:hover a {
    opacity: 1;
    transform: translateY(0);
    transition:all 0.5s ease;
}
/* SOLICITAÇÕES RECURSOS HUMANO */
#gestaodepessoas {
    width: 100%;
    height: auto;
    padding: 10vh 0 10vh 0;
    background-color: var(--gray4);
}
#gestaodepessoas .banner {
    color: var(--gray5);
    padding:6vh 0 6vh 0;
    background-color:var(--AzulFirjanII);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#gestaodepessoas .nav-tabs {
    width: 60vw;
    box-shadow: 6px 6px 18px -12px rgb(0 0 0 / 50%);
}
#gestaodepessoas .nav-item {
    width: 50%;
}
#gestaodepessoas .nav-tabs .nav-item .nav-link {
    color: var(--gray5);
    font-size:120%;
    letter-spacing: 1px;
    padding:1vh;
    background-color: var(--gray3);
    border: 0;
    border-radius: 0;
}
#gestaodepessoas .nav-tabs .nav-item.show .nav-link,
#gestaodepessoas .nav-tabs .nav-link.active {
    background-color: var(--CinzaFirjanII);
    cursor: default;
}
#gestaodepessoas .nav-tabs .nav-link:focus,
#gestaodepessoas .nav-tabs .nav-link:hover {
    background-color:var(--CinzaFirjanII);
}
#gestaodepessoas .search {
    width: 60vw;
    color: var(--gray1);
    padding: 1.4vh 1.4vh 0vh 1.4vh;
    margin: 0 auto;
    margin-bottom: 3vh;
    background-color: white;
    border-radius: 0 0 2vh 2vh;
    box-shadow: 6px 6px 18px -12px rgb(0 0 0 / 50%);
}
#gestaodepessoas .tab-content {
    padding: 0;
}
#gestaodepessoas #tablePositionCard {
    border-color: transparent;
}
.rh-card {
    position: relative;
    max-width: 35vh;
    height: 40vh;
    color:var(--CinzaFirjan);
    padding: 2vh;
    margin: 0 auto;
    background-position: center;
    overflow: visible;
    display: flex;
    justify-content: center;
}
.rh-card img {
	max-height: 20vh;
	margin: 0 auto;
	filter: grayscale(0);
	transition:all 0.5s ease;
	border: 3px solid var(--CinzaFirjanII);
	border-radius: 50%;
}
.rh-card .user-name {
    position: absolute;
    bottom: 14vh;
    width: 100%;
    font-size: 160%;
    font-weight: bold;
    line-height:120%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition:all 0.5s ease;
}
.rh-card .user-role {
    position: absolute;
    bottom: 12vh;
    width: 100%;
    font-size: 100%;
    line-height:120%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition:all 0.5s ease;
}
.rh-card .user-place {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    font-size: 100%;
    line-height:120%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition:all 0.5s ease;
}
.rh-card .user-action {
    position: absolute;
    bottom: 4vh;
    display: flex;flex-direction: initial;overflow: visible;transition:all 0.5s ease;
}
.rh-card .user-action a {
    color:var(--CinzaFirjanII);
    font-size:150%;
    padding:.5vh;
    margin:.6vh;
    border:1px dashed transparent;
    border-radius:.6vh;
    display: inline-flex;
    flex-direction: initial;
    transition:all 0.5s ease;
}
.rh-card .user-action a:hover {
    color:white!important;
    transform: scale(1.4);
    background-color:var(--AzulFirjanII)!important;
}
.rh-card:hover img {
    transform: scale(1.18);
}
.rh-card:hover .user-name {
    bottom: 12vh;
}
.rh-card:hover .user-role {
    bottom: 10vh;
}
.rh-card:hover .user-place {
    bottom: 8vh;
}
.rh-card:hover .user-action {
    bottom: 2vh;
}
.rh-card:hover .user-action a {
    color: var(--gray5);
    background-color:var(--AzulFirjan);
    border:1px dashed var(--AzulFirjan);
    transition:all 0.5s ease;
}
.rh-card .user-action .dropup .dropdown-menu.show {
    background-color: var(--gray3);
    transform: translate(-45px, -35px)!important;
}
.rh-card .user-action .dropup .dropdown-menu .dropdown-item {
    color:var(--CinzaFirjan);
    font-size: 100%;
    padding: 1vh;
    margin: 0;
    border: 0;
    border-radius: 0;
    background-color: transparent;
}
.rh-card .user-action .dropup .dropdown-menu .dropdown-item:hover {
    transform: scale(1);
}
.position-card {
    position: relative;
    width: 28vh;
    height: 34vh;
    color: white;
    padding: 2vh;
    margin: 1vh auto;
    background-position: center;
    border-radius: 1vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background-color: var(--CinzaFirjan);
}
.position-card i {
    position: absolute;
    top:4vh;
	font-size: 600%;
	transition:all 0.5s ease;
}
.position-card .position-name {
    position: absolute;
    bottom: 10vh;
    width: 100%;
    font-size: 130%;
    font-weight: bold;
    line-height:120%;
    overflow: hidden;
    padding: .3vh;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    transition:all 0.5s ease;
}
.position-card .position-action {
    position: absolute;
    bottom: 2vh;
    right:2vh;
    transition:all 0.5s ease;
}
.position-card .position-action a {
    color: white;
    font-size:200%;
    text-decoration: none;padding:.5vh;
    margin:.6vh;
    border:1px dashed white;
    border-radius:.6vh;
    display: inline-flex;
    flex-direction: initial;
    transition:all 0.5s ease;
}
.position-card .position-action a:hover {
    color:white!important;
    transform: scale(1.4);
    background-color:var(--AzulFirjanII)!important;
}
.position-card a i {
    position: relative;
    top:0!important;
	font-size: 100%;
}
.position-card:hover {
    color: var(--CinzaFirjan);
    background-color: var(--CinzaFirjanII);
}
.position-card:hover i {
    top:5vh;
}
.position-card:hover .position-name {
    bottom: 11vh;
}
.position-card:hover .position-action {
    bottom: 2vh;
}
.position-card:hover .position-action a {
    color: var(--gray5);
    background-color:var(--AzulFirjan);
    border:1px dashed var(--AzulFirjan);
    transition:all 0.5s ease;
}
#Posicoes .table-position .include-position {
    color: var(--gray5);
    text-decoration:none;
    padding: .6vh 2vh;
    background-color: var(--AzulFirjan);
    border-radius: .6vh;
    transition:all 0.5s ease;
    display: inline-flex;
}
#Posicoes .table-position .include-position:hover {
    background-color: var(--AzulFirjanII);
}
@media screen and (max-width:576px) {
    .table-responsive {
        width: 100%;
    }
    #tablePositionCard,
    #tableListPosition {
        width: 170%;
    }
    #gestaodepessoas .nav-tabs,
    #gestaodepessoas .search,
    #gestaodepessoas .tab-content{
        width:95vw;
    }
}
/* Gestão de pessoas - Desligamento */
#gestaodepessoasDesligamento {
    width: 100%;
    height: auto;
    padding: 10vh 0 10vh 0;
    background-color: var(--gray4);
}
#gestaodepessoasDesligamento .banner {
    color: var(--gray5);
    padding: 6vh 0 6vh 0;
    background-color:var(--AzulFirjanII);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}
#gestaodepessoasDesligamento .banner .form-floating label {
    top: -1vh;
    right: 0;
    opacity: 1!important;
    font-size: 120%;
    font-weight: normal;
    left:0;
    text-align: end;
    transform: scale(1)!important;
}
#gestaodepessoasDesligamento .banner .form-control {
    position: relative;
    top: 1vh;
    color: var(--gray5);
    font-size: 120%;
    font-weight: bold;
    text-align: end;
    padding: 0 .75rem 0 0;
}
#gestaodepessoasDesligamento .tabs-responsive {
    width:100%;
    overflow: hidden;
    overflow-x: auto;
    display: block;
}
#gestaodepessoasDesligamento .nav.nav-tabs {
    width: 100%;
    height:12vh;
    padding: 1vh;
    border: 0;
}
#gestaodepessoasDesligamento .nav-tabs .nav-link {
    width: 5vh;
    height: auto;
    color: var(--gray1);
    padding: 0;
    margin: 1vh;
    background-color: white;
    border: 2px solid var(--gray3);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 6px 6px 18px -12px rgb(0 0 0 / 50%);
    transition:all 0.5s ease;
}
#gestaodepessoasDesligamento .nav-tabs .nav-link:focus,
#gestaodepessoasDesligamento .nav-tabs .nav-link:hover {
    border-color: var(--AzulSENAI);
    transform: scale(1.2);
}
#gestaodepessoasDesligamento .nav-tabs .nav-item.show .nav-link,
#gestaodepessoasDesligamento .nav-tabs .nav-link.active {
    border-color:var(--gray3);
    transform: scale(1.2);
    animation: pulse 5s infinite;
}
#gestaodepessoasDesligamento .nav-tabs .nav-link img {
    width: 100%;
}
#gestaodepessoasDesligamento .nav-tabs .nav-link.disabled img {
    opacity: .6;
    filter: grayscale(100%);
}
#gestaodepessoasDesligamento .tab-content {
    width: 100%;
    padding: 2vh 1vh;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 6px 6px 18px -12px rgb(0 0 0 / 50%);
}
#gestaodepessoasDesligamento .userAvatar {
    width: 100%;
    max-width: 30vh;
    margin: 0 auto;
    border: 3px solid var(--CinzaFirjanII);
    border-radius: 50%;
    transition:all 0.5s ease;
}
#gestaodepessoasDesligamento #hiddenMotivoOutros {
    display: none;
}
@media screen and (max-width:576px) {
    #gestaodepessoasDesligamento .nav.nav-tabs {
        width: max-content;
        height:100px;
    }
}
/* Gestão de pessoas - Admissão */
#gestaodepessoasAdmissao {
    width: 100%;
    height: auto;
    padding: 10vh 0 10vh 0;
    background-color: var(--gray4);
}
#gestaodepessoasAdmissao .banner {
    color: var(--gray5);
    padding: 6vh 0 6vh 0;
    background-color:var(--AzulFirjanII);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}
#gestaodepessoasAdmissao .banner .form-floating label {
    top: -1vh;
    right: 0;
    opacity: 1!important;
    font-size: 120%;
    font-weight: normal;
    left:0;
    text-align: end;
    transform: scale(1)!important;
}
#gestaodepessoasAdmissao .banner .form-control {
    position: relative;
    top: 1vh;
    color: var(--gray5);
    font-size: 120%;
    font-weight: bold;
    text-align: end;
    padding: 0 .75rem 0 0;
}
#gestaodepessoasAdmissao .tabs-responsive {
    width:100%;
    overflow: hidden;
    overflow-x: auto;
    display: block;
}
#gestaodepessoasAdmissao .nav.nav-tabs {
    width: 100%;
    height:12vh;
    padding: 1vh;
    border: 0;
}
#gestaodepessoasAdmissao .nav-tabs .nav-link {
    width: 5vh;
    height: auto;
    color: var(--gray1);
    padding: 0;
    margin: 1vh;
    background-color: white;
    border: 2px solid var(--gray3);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 6px 6px 18px -12px rgb(0 0 0 / 50%);
    transition:all 0.5s ease;
}
#gestaodepessoasAdmissao .nav-tabs .nav-link:focus,
#gestaodepessoasAdmissao .nav-tabs .nav-link:hover {
    border-color: var(--AzulSENAI);
    transform: scale(1.2);
}
#gestaodepessoasAdmissao .nav-tabs .nav-item.show .nav-link,
#gestaodepessoasAdmissao .nav-tabs .nav-link.active {
    border-color:var(--gray3);
    transform: scale(1.2);
    animation: pulse 5s infinite;
}
#gestaodepessoasAdmissao .nav-tabs .nav-link img {
    width: 100%;
}
#gestaodepessoasAdmissao .nav-tabs .nav-link.disabled img {
    opacity: .6;
    filter: grayscale(100%);
}
#gestaodepessoasAdmissao .tab-content {
    width: 100%;
    padding: 2vh 1vh;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 6px 6px 18px -12px rgb(0 0 0 / 50%);
}
#gestaodepessoasAdmissao .tab-content #Solicitante h4 {
    color:var(--AzulFirjan);
    font-weight:bold;
    margin-top: 3vh;
}
#gestaodepessoasAdmissao .accordion-button {
color: var(--AzulFirjan);
font-size: 100%;
font-weight: bold;
}
#gestaodepessoasAdmissao .accordion-button:hover {
    border-color:var(--AzulFirjanII);
    background-color:var(--gray3);
}
#gestaodepessoasAdmissao .accordion-button::after {
    flex-shrink:0;
    width:1.25rem;
    height:1.25rem;
    margin-left:auto;
    content:"";
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    background-repeat:no-repeat;
    background-size:1.25rem;
    transition:transform .2s ease-in-out
}
#gestaodepessoasAdmissao .accordion-button:not(.collapsed) {
    color: var(--AzulFirjan);
    background-color: white;
}
#gestaodepessoasAdmissao .accordion-button:not(.collapsed)::after {
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform:rotate(-180deg)
}
@media screen and (max-width:576px) {
    #gestaodepessoasAdmissao .nav.nav-tabs {
        width: max-content;
        height:100px;
    }
}
/* Gestão de pessoas - Movimentação - Alterar carga horária */
#gestaodepessoasMovimentacaoACH {
    width: 100%;
    height: auto;
    padding: 10vh 0 10vh 0;
    background-color: var(--gray4);
}
#gestaodepessoasMovimentacaoACH .banner {
    color: var(--gray5);
    padding: 6vh 0 6vh 0;
    background-color:var(--AzulFirjanII);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
}
#gestaodepessoasMovimentacaoACH .banner .form-floating label {
    top: -1vh;
    right: 0;
    opacity: 1!important;
    font-size: 120%;
    font-weight: normal;
    left:0;
    text-align: end;
    transform: scale(1)!important;
}
#gestaodepessoasMovimentacaoACH .banner .form-control {
    position: relative;
    top: 1vh;
    color: var(--gray5);
    font-size: 120%;
    font-weight: bold;
    text-align: end;
    padding: 0 .75rem 0 0;
}
#gestaodepessoasMovimentacaoACH .tabs-responsive {
    width:100%;
    overflow: hidden;
    overflow-x: auto;
    display: block;
}
#gestaodepessoasMovimentacaoACH .nav.nav-tabs {
    width: 100%;
    height:12vh;
    padding: 1vh;
    border: 0;
}
#gestaodepessoasMovimentacaoACH .nav-tabs .nav-link {
    width: 5vh;
    height: auto;
    color: var(--gray1);
    padding: 0;
    margin: 1vh;
    background-color: white;
    border: 2px solid var(--gray3);
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: 6px 6px 18px -12px rgb(0 0 0 / 50%);
    transition:all 0.5s ease;
}
#gestaodepessoasMovimentacaoACH .nav-tabs .nav-link:focus,
#gestaodepessoasMovimentacaoACH .nav-tabs .nav-link:hover {
    border-color: var(--AzulSENAI);
    transform: scale(1.2);
}
#gestaodepessoasMovimentacaoACH .nav-tabs .nav-item.show .nav-link,
#gestaodepessoasMovimentacaoACH .nav-tabs .nav-link.active {
    border-color:var(--gray3);
    transform: scale(1.2);
    animation: pulse 5s infinite;
}
#gestaodepessoasMovimentacaoACH .nav-tabs .nav-link img {
    width: 100%;
}
#gestaodepessoasMovimentacaoACH .nav-tabs .nav-link.disabled img {
    opacity: .6;
    filter: grayscale(100%);
}
#gestaodepessoasMovimentacaoACH .tab-content {
    width: 100%;
    padding: 2vh 1vh;
    background-color: white;
    border-radius: 1vh;
    box-shadow: 6px 6px 18px -12px rgb(0 0 0 / 50%);
}
#gestaodepessoasMovimentacaoACH .userAvatar {
    width: 100%;
    max-width: 30vh;
    margin: 0 auto;
    border: 3px solid var(--CinzaFirjanII);
    border-radius: 50%;
    transition:all 0.5s ease;
}
#gestaodepessoasMovimentacaoACH #hiddenMotivoOutros {
    display: none;
}
@media screen and (max-width:576px) {
    #gestaodepessoasMovimentacaoACH .nav.nav-tabs {
        width: max-content;
        height:100px;
    }
}
/* FOOTER */
#footer {
    background-color: var(--gray5);
}
#footer .banner {
    padding: 6vh 0 6vh 0;
    background-color:var(--AzulFirjanII);
}
#footer .brand {
    width: 25vh;
}
#footer .social {
    font-size: 200%;
    padding: 4vh 2vh;
    display: inline-block;
}
/* DISPLAY NONE */
#line-hide-0001,
#line-hide-0002,
#line-hide-0003,
#line-hide-0004,
#line-hide-0005,
#line-hide-0006,
#line-hide-0007,
#line-hide-0008,
#line-hide-0009 {
    display: none;
}
/* remove outline and box-shadow for all btn */
.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline:none;
    box-shadow:none;
}
@keyframes pulse {
    0% {
        transform: scale(1.2);
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
        box-shadow: 0 0 0 0 rgba(0,0,0, 0.4);
    }
    70% {
        transform: scale(1.5);
        -webkit-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
        -moz-box-shadow: 0 0 0 10px rgba(0,0,0, 0);
        box-shadow: 0 0 0 10px rgba(0,0,0, 0);
    }
    100% {
        transform: scale(1.2);
        -webkit-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
        -moz-box-shadow: 0 0 0 0 rgba(0,0,0, 0);
        box-shadow: 0 0 0 0 rgba(0,0,0, 0);
    }
}

@media screen and (max-width:1024px) {}
@media screen and (max-width:768px) {}
@media screen and (max-width:576px) {}