@charset "UTF-8";
/*
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2022 Cristian Elvis
 */
:root {
    --cor01:#2c3d4f;
    --cor02:#8d3353;
    --cor03:#00a8c3;
    --cor04:#259a98;
    --cor05:#b9b9b9;
    --gray0:#262626;
    --gray1:#413e3e;
    --gray2:#626060;
    --gray3:#c4c4c4;
    --gray4:#f4f4f4;
    --gray5:#f6f6f6;
}
html,
body {
    position:relative;
    font-family:'Montserrat', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size:14px;
    font-weight:400;
    line-height:120%;
    color:var(--cor01);
    text-align:center;
    overflow-x:hidden;
    scroll-behavior:smooth;
}
body::after {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content:url(../images/underconstruction-background-min.png);
}
.grid,
.grid-left,
.grid-right {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
}
.grid-left {
    align-items:start;
    text-align:start;
}
.grid-right {
    align-items:end;
    text-align:end;
}



@media screen and (max-width:1024px) {}
@media screen and (max-width:768px) {}
@media screen and (max-width:576px) {}