@charset "UTF-8";
/*!
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */
:root {
    --azul:#7495da;
    --amarelo:#feff01;
    --vermelho:#ff3657;
    --verde:#13c2a5;
    --roxo:#cc9afd;
    --gray1:#413e3e;
    --gray2:#626060;
    --gray3:#c4c4c4;
    --gray4:#f4f4f4;
    --gray5:#f6f6f6;
}
html,
body {
    position:relative;
    font-family:'Montserrat', sans-serif;
    color:black;
    font-size:1.6vh;
    font-weight:400;
    line-height:1.8vh;
    background:url("../../assets/images/blocoPrincipal2.jpg") no-repeat;
    background-position:0 12.69%;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
strong {
    font-weight:900;
}
a {
    color:black;
}
a:hover {
    color:var(--roxo)
}
.bgOut {
    background:unset!important;
    background-color:red!important;
}
.wrapcenter {
  height:99vh;
  justify-content:center;
  align-items:center;
  display:flex;
}
.navbar {
    font-family:'Otomanopee One', sans-serif;
    padding:0.6vh 1.2vw 0.6vh 1.2vw;
    background-color:var(--gray2);
}
.navHide,
.navShow {
    top:-150vh;
    transition:all .15s ease-in-out;
}
.navShow {
    top:0;
    transition:all .15s ease-in-out;
}
.navbar-brand {
    width:4vw;
}
.flag {
    width:1.6vw;
    height:auto;
    border-radius:0.3vw;
    display:inline-block;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    font-size:1.6vh;
    position:relative;
    top:0;
    color:var(--gray4);
    padding:1.6vh 1.2vw 1.6vh 1.2vw;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    transition:all .4s ease;
}
.navbar-dark .navbar-nav .nav-link.active {
    color:var(--azul);
    transition:all .4s ease;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:var(--amarelo);
    top:-0.6vh;
    transition:all .4s ease;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color:var(--verde);
    transition:all .4s ease;
}
.nav-link.btn.btn-secondary {
    font-family:'Montserrat', sans-serif;
    color:var(--gray1);
    padding:1vh 1.2vw 1vh 1.2vw;
    margin:0 auto;
    background-color:var(--gray3);
    border-radius:2vw;
    text-shadow:unset;
    box-shadow:unset;
    transition:all .4s ease;
}
.nav-link.btn.btn-secondary:hover {
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    transition:all .4s ease;
}
.modal-header,
.modal-footer {
    border:0;
}
#navigation,
.section001,
.section002,
.section003,
.section004,
.section005,
.section006,
.section007,
.section008,
.section009,
.section010,
#footer {
    width:100%;
    height:auto;
    padding-top:15vh;
    padding-bottom:15vh;
    border:0;
    background-color:transparent;
}
#navigation {
    padding-top:0;
    padding-bottom:0;
}
.section001 {
    padding-top:0;
    padding-bottom:0;
    border:6px solid var(--gray1);
    background-color:white;
}
.section001 .container-fluid,
.section001 .row,
.section001 .col-md-6 {
    padding:0;
    margin:0;
}
.section001 .wrap {
    padding-top:0;
    padding-bottom:0;
    text-align:center;
    margin:0 auto;
}
.section001 .wrap .logotipo {
    max-width:16vw;
    margin:0 auto;
}
.section001 .wrap h1 {
    font-family:'Otomanopee One', sans-serif;
    font-size:3.6vh;
    line-height:6.3vh;
    width:31.6vw;
    margin:3vh auto 1vh auto;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section001 .wrap h2 {
    font-size:3vh;
    margin:3vh auto 1vh auto;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section001 .wrap .btn-primary {
    position:relative;
    top:0;
    font-size:2.4vh;
    width:18vw;
    height:8vh;
    padding:2vh;
    margin:4.3vh auto;
    border:0 solid white;
    border-radius:1.3vw;
    background-color:var(--gray1);
    transition:all .3s ease;
  }
.section001 .wrap .btn-primary:hover {
    top:-1vh;
    font-size:2.6vh;
    width:19vw;
    height:9vh;
    padding:2.3vh;
    margin:3.8vh auto;
    border-radius:2.6vw;
    background-color:var(--roxo);
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
    transition:all .3s ease;
}
.section001-btn-01,
.section001-btn-02,
.section001-btn-03,
.section001-btn-04 {
    font-family:'Otomanopee One', sans-serif;
    font-size:2.4vh;
    color:white;
    text-align:right;
    width:100%;
    height:50vh;
    padding:1vw;
    margin:0 auto;
    border:3px solid var(--gray1);
    border-radius:0;
    background-color:var(--gray1);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    transition:all .45s ease;
}
.section001-btn-01:hover,
.section001-btn-02:hover,
.section001-btn-03:hover,
.section001-btn-04:hover,
.section001-btn-01:focus,
.section001-btn-02:focus,
.section001-btn-03:focus,
.section001-btn-04:focus {
    color:var(--amarelo);
    padding:3vh 3vw 1vh 1vw;
    border:3px solid var(--gray1);
    box-shadow:unset;
    transition:all .5s ease;
}
.section001-btn-01,
#section001-btn-01-content .modal-fullscreen {
    background-image:url("../images/welcomeMulherPB-min.png");
}
.section001-btn-01:hover {
    background-image:url("../images/welcomeMulher-min.png");
}
.section001-btn-02,
#section001-btn-02-content .modal-fullscreen {
    color:black;
    background-image:url("../images/welcomeHomemPB-min.png");
}
.section001-btn-02:hover {
    background-image:url("../images/welcomeHomem-min.png");
}
.section001-btn-03,
#section001-btn-03-content .modal-fullscreen {
    color:black;
    background-image:url("../images/welcomeMulherNegraPB-min.png");
}
.section001-btn-03:hover {
    background-image:url("../images/welcomeMulherNegra-min.png");
}
.section001-btn-04,
#section001-btn-04-content .modal-fullscreen {
    background-image:url("../images/welcomeMulherOrientalPB-min.png");
}
.section001-btn-04:hover {
    background-image:url("../images/welcomeMulherOriental-min.png");
}
#section001-btn-01-content .modal-fullscreen,
#section001-btn-02-content .modal-fullscreen,
#section001-btn-03-content .modal-fullscreen,
#section001-btn-04-content .modal-fullscreen{
    width:50.5vw;
    border:6px solid var(--gray1);
    float:right;
    background-color:black;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#section001-btn-01-content.fade .modal-dialog,
#section001-btn-02-content.fade .modal-dialog,
#section001-btn-03-content.fade .modal-dialog,
#section001-btn-04-content.fade .modal-dialog {
    right:-50%;
    transition:all .6s ease;
}
#section001-btn-01-content.fade.show .modal-dialog,
#section001-btn-02-content.fade.show .modal-dialog,
#section001-btn-03-content.fade.show .modal-dialog,
#section001-btn-04-content.fade.show .modal-dialog {
    right:0;
    transition:all .6s ease;
}
#section001-btn-01-content .modal-content,
#section001-btn-02-content .modal-content,
#section001-btn-03-content .modal-content,
#section001-btn-04-content .modal-content {
    background-color:rgba(0, 0, 0, 0.7);;
}
#section001-btn-01-content .modal-content .modal-body,
#section001-btn-02-content .modal-content .modal-body,
#section001-btn-03-content .modal-content .modal-body,
#section001-btn-04-content .modal-content .modal-body {
    color:var(--gray5);
    text-align:center;
}
#section001-btn-01-content .modal-content .modal-body h1,
#section001-btn-02-content .modal-content .modal-body h1,
#section001-btn-03-content .modal-content .modal-body h1,
#section001-btn-04-content .modal-content .modal-body h1 {
    font-size:3vh;
    font-weight:bold;
    margin:0 auto 8vh auto;
}
#section001-btn-01-content .modal-content .modal-body p,
#section001-btn-02-content .modal-content .modal-body p,
#section001-btn-03-content .modal-content .modal-body p,
#section001-btn-04-content .modal-content .modal-body p {
    font-size:2.4vh;
    line-height:2.6vh;
}
#section001-btn-01-content .btn-close,
#section001-btn-02-content .btn-close,
#section001-btn-03-content .btn-close,
#section001-btn-04-content .btn-close {
    position:absolute;
    top:1rem;
    right:1rem;
    background-color:var(--gray4);
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
}
#section001-btn-01-content .wrapcenter,
#section001-btn-02-content .wrapcenter,
#section001-btn-03-content .wrapcenter,
#section001-btn-04-content .wrapcenter {
    height:93vh;
}
.list-group-item-action {
    width:30%;
    margin:0 auto;
    color:white;
    text-align:center;
    border:0;
    border-radius:0;
    background-color:transparent;
}
.list-group-item-action:focus,
.list-group-item-action:hover {
    color:black;
    padding:1vh 1vw;
    border-radius:0;
    background-color:var(--amarelo);
}
.list-group-item-action:focus {
    background-color:var(--verde);
}
.section002 {
    background:url('../images/oquesomosBackgroundImage-min.png') no-repeat;
    background-position:0 0;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-color:black;
    padding-top:0;
    padding-bottom:0;
}
.section002 .container-fluid.cut {
    background: linear-gradient(140deg, transparent 37%, white 0%);
    padding-top:15vh;
    padding-bottom:15vh;
}
.section002 .wrap {
    width:100%;
    max-width:788px;
    padding-top: 0;
    padding-bottom:0;
    text-align:center;
    margin:0 auto;
}
.section002 h1 {
    font-family:'Otomanopee One', sans-serif;
    text-align:center;
    margin-top:6vh;
    margin-bottom:6vh;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section002 p {
    text-align:left;
    margin-bottom:6vh;
}
#section002AdvertisingBannerBR {
    min-height:20vh;
}
#economyContent .modal-body {
    background-position:top left;
    background-image:url("../images/oquesomosMulherGloboPB-minX.png");
}
#businessContent .btn-close,
#economyContent .btn-close {
    position:absolute;
    top:1rem;
    right:1rem;
    background-color:var(--gray4);
    padding: .5rem .5rem;
    margin: -.5rem -.5rem -.5rem auto;
}
#businessContent .modal-body,
#economyContent .modal-body {
    width: 100%;
    padding:0;
    margin:0 auto;
    background-color:var(--gray1);
    overflow-y:unset;
}
#businessContent .pic,
#economyContent .pic {
    height:100vh;
    background-image:url("../images/oquesomosApertoMaosPB-min.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-color:var(--gray1);
}
#economyContent .pic {
    background-image:url("../images/oquesomosMulherGloboPB-min.png");
}
#economyContent .wrap,
#businessContent .wrap {
    width:85%;
    text-align:left;
    margin:0 auto;
}
#businessContent ul,
#economyContent ul {
    padding: 0;
    margin:0 auto;
    display: block;
    list-style-type: disc;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start:0;
    margin-inline-end:0;
    padding-inline-start:0;
}
#businessContent ul li,
#economyContent ul li {
    color:white;
    font-size:1.4vh;
    font-weight:100;
    line-height:2.8vh;
    padding:2vh 0 2vh 0;
    margin:0 auto;
    list-style-type:disc;
    list-style-position:inside;
}
.wrapcardcenter {
  height:60vh;
  justify-content:center;
  align-items:center;
  display:inline-block;
}
#wrapcard-1,
#wrapcard-2,
#wrapcard-3,
#wrapcard-4,
#wrapcard-5,
#wrapcard-6 {
    width:10vw;
    height:40vh;
    padding:0;
    margin:0 1vh 3vh 1vh;
    display:inline-table;
    text-shadow:unset;
    transition:all .5s ease;
}
#wrapcard-1:hover,
#wrapcard-2:hover,
#wrapcard-3:hover,
#wrapcard-4:hover,
#wrapcard-5:hover,
#wrapcard-6:hover {
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
}
#wrapcard-icon-1,
#wrapcard-icon-2,
#wrapcard-icon-3,
#wrapcard-icon-4,
#wrapcard-icon-5,
#wrapcard-icon-6 {
    position:relative;
    top:-3vh;
    width:10vh;
    margin:0 auto;
    background-color:var(--gray3);
    transition:all .5s ease;
}
#wrapcard-1:hover > #wrapcard-icon-1,
#wrapcard-2:hover > #wrapcard-icon-2,
#wrapcard-3:hover > #wrapcard-icon-3,
#wrapcard-4:hover > #wrapcard-icon-4,
#wrapcard-5:hover > #wrapcard-icon-5,
#wrapcard-6:hover > #wrapcard-icon-6 {
    width:15vh;
    border-radius:6vw;
}
#wrapcard-1:hover > #wrapcard-icon-1 {
    background-color:var(--azul);
}
#wrapcard-2:hover > #wrapcard-icon-2 {
    background-color:var(--amarelo);
}
#wrapcard-3:hover > #wrapcard-icon-3 {
    background-color:var(--vermelho);
}
#wrapcard-4:hover > #wrapcard-icon-4 {
    background-color:var(--verde);
}
#wrapcard-5:hover > #wrapcard-icon-5 {
    background-color:var(--roxo);
}
#wrapcard-6:hover > #wrapcard-icon-6 {
    background-color:black;
}
.wrapcard-retangle {
    position:relative;
    top:-10vh;
    width:3vh;
    height:2.8vh;
    margin:0 auto;
    background-color:black;
}
.wrapcard-retangle::before,
.wrapcard-retangle::after {
    display:inline-block;
    content:"";
    border-top:0.3vh dashed black;
    letter-spacing:14px;
    width:9vh;
    margin:0 auto;
    transform:translateY(-1.5vh) translateX(3.3vh);
}
.wrapcard-retangle::before {
    transform:translateY(0.25vh) translateX(-9vh);
}
.wrapcard-icon img {
    width:100%;
}
.wrapcard-title {
    font-weight:900;
    text-align:center;
    margin-bottom:1vh;
}
.wrapcard-description {
    font-weight:100;
}
#footer {
    padding-top:0;
    padding-bottom:0;
    background-color:var(--gray1);
}
#footer .wrapcenter {
    height:20vh;
}
#footer .wrap {
    width:60%;
}
#footer .logotipo {
    max-width:20vh;
    margin:0 auto;
}
#footer p {
    font-size:1.2vh;
    color:white;
    margin:0 auto;
}
#footer .social {
    width:2vh;
    margin:1.2vh 0.6vw 0 0;
    transition:all .4s ease;
}
#footer .social:hover {
    width:3vh;
    margin:0.22vh 0.6vw 0 0;
    opacity:.6;
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
    transition:all .4s ease;
}
#footer .navbar-dark .navbar-nav .nav-link,
#footer .navbar-dark .navbar-nav .nav-link.active {
    font-size: 1.6vh;
}
#footer .nav-link.btn.btn-secondary {
    width:20vh;
    height:5vh;
    font-family:'Montserrat', sans-serif;
    color:var(--gray1);
    padding:1vh 1.2vw 1vh 1.2vw;
    margin:2vh auto;
    background-color:var(--gray3);
    border-radius:2vw;
    text-shadow:unset;
    box-shadow:unset;
    transition:all .4s ease;
}
#footer .nav-link.btn.btn-secondary:hover {
    width:22vh;
    height:7vh;
    font-size:2vh;
    padding:2vh 1.2vw 1vh 1.2vw;
    margin:1vh auto;
    border-radius:4vw;
    text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
    transition:all .4s ease;
}
@media (max-width:1024px) {
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active {
        font-size:1vh;
        padding:1.2vh 1vw 1.2vh 1vw;
    }
    .nav-link.btn.btn-secondary {
        padding:0.8vh 0.8vw 0.8vh 0.8vw;
        margin:0.6vh auto;
    }
    .section001 .wrap .logotipo {
        min-width:30vw;
    }
    .section001 .wrap h1 {
        font-size:3vh;
        line-height:3.8vh;
        width:45vw;
    }
    .section001 .wrap .btn-primary {
        position:relative;
        top:0;
        font-size:2.4vh;
        width:30vw;
        height:8vh;
        padding:2vh;
        margin:4.3vh auto;
        border:0 solid white;
        border-radius:3vw;
        background-color:var(--gray1);
        transition:all .3s ease;
      }
    .section001 .wrap .btn-primary:hover {
        top:-1vh;
        font-size:2.6vh;
        width:40vw;
        height:9vh;
        padding:2.3vh;
        margin:3.8vh auto;
        border-radius:6vw;
        background-color:var(--roxo);
        text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
        transition:all .3s ease;
    }
    .section001-btn-01,
    .section001-btn-02,
    .section001-btn-03,
    .section001-btn-04 {
        font-size:2vh;
        height:50vh;
    }
    #section001-btn-01-content .modal-fullscreen,
    #section001-btn-02-content .modal-fullscreen,
    #section001-btn-03-content .modal-fullscreen,
    #section001-btn-04-content .modal-fullscreen {
        width:100%;
    }
    #section001-btn-01-content .modal-content .modal-body h1,
    #section001-btn-02-content .modal-content .modal-body h1,
    #section001-btn-03-content .modal-content .modal-body h1,
    #section001-btn-04-content .modal-content .modal-body h1 {
        font-size:5vh;
        line-height:6vh;
    }
    .section002 .container-fluid.cut {
        background:linear-gradient(130deg, transparent 37%, white 0%);
        padding-top:35vh;
        padding-bottom:0;
    }
    #footer .social {
        width:1.6vh;
    }
    #footer p {
        font-size:0.9vh;
    }
    #footer .navbar-dark .navbar-nav .nav-link,
    #footer .navbar-dark .navbar-nav .nav-link.active {
        font-size:0.9vh;
    }
    #footer .nav-link.btn.btn-secondary {
        width:15vh;
    }
    #footer .nav-link.btn.btn-secondary:hover {
        width:17vh;
    }
}
@media (max-width:576px) {
    html,
    body {
        font-size:2.6vh;
        font-weight:400;
        line-height:3.6vh;
    }
    .navbar-brand {
        width:20vw;
    }
    .flag {
        width:6vw;
        height:auto;
        border-radius:0.3vw;
        display:inline-block;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active {
        font-size:3vh;
        padding:2vh 2vw 2vh 2vw;
    }
    .section001 .wrap {
        padding-top:15vh;
        padding-bottom:15vh;
    }
    .section001 .wrap .logotipo {
        min-width:70vw;
    }
    .section001 .wrap h1 {
        width:80vw;
    }
    .section001 .wrap .btn-primary {
        position:relative;
        top:0;
        font-size:2.4vh;
        width:50vw;
        height:8vh;
        padding:2vh;
        margin:4.3vh auto;
        border:0 solid white;
        border-radius:3vw;
        background-color:var(--gray1);
        transition:all .3s ease;
      }
    .section001 .wrap .btn-primary:hover {
        top:-1vh;
        font-size:2.6vh;
        width:50vw;
        height:9vh;
        padding:2.3vh;
        margin:3.8vh auto;
        border-radius:6vw;
        background-color:var(--roxo);
        text-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
        box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
        transition:all .3s ease;
    }
    .section001-btn-01,
    .section001-btn-02,
    .section001-btn-03,
    .section001-btn-04 {
        font-size:4.8vh;
        height:50vh;
    }
    #section001-btn-01-content .modal-fullscreen,
    #section001-btn-02-content .modal-fullscreen,
    #section001-btn-03-content .modal-fullscreen,
    #section001-btn-04-content .modal-fullscreen {
        width:100%;
    }
    #section001-btn-01-content .modal-content .modal-body h1,
    #section001-btn-02-content .modal-content .modal-body h1,
    #section001-btn-03-content .modal-content .modal-body h1,
    #section001-btn-04-content .modal-content .modal-body h1 {
        font-size:5vh;
        line-height:6vh;
    }
    .section002 {
        background:url('../images/oquesomosBackgroundImage-min.png') no-repeat;
        background-position:10% 0;
        -webkit-background-size:400%;
        -moz-background-size:400%;
        -o-background-size:400%;
        background-size:400%;
    }
    .section002 .container-fluid.cut {
        padding-top:130vh;
        padding-bottom:20vh;
    }
    #footer .wrapcenter {
        height:30vh;
    }
    #footer .wrap {
        text-align:center;
        width:100%;
        margin-top:20vh;
        margin-bottom:15vh;
    }
    #footer .social {
        width:3vh;
    }
    #footer p {
        font-size:1.8vh;
        text-align:center;
        margin:1vh auto 2vh auto;
    }
    #footer .navbar-nav {
        flex-direction:unset;
    }
    #footer .navbar-dark .navbar-nav .nav-link,
    #footer .navbar-dark .navbar-nav .nav-link.active {
        font-size:2.3vh;
    }
    #footer .nav-link.btn.btn-secondary {
        width:25vh;
        height:6vh;
    }
    #footer .nav-link.btn.btn-secondary:hover {
        width:27vh;
    }
}