@charset "UTF-8";
/*!
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */
:root {
    --azul:#7495da;
    --azulcalro:#f3e3fd;
    --amarelo:#feff01;
    --vermelho:#ff3657;
    --verde:#13c2a5;
    --roxo:#cc9afd;
    --gray1:#413e3e;
    --gray2:#626060;
    --gray3:#c4c4c4;
    --gray4:#f4f4f4;
    --gray5:#f6f6f6;
}
html,
body {
    position:relative;
    font-family:'Montserrat', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size:2.2vh;
    font-weight:400;
    line-height:120%;
    color:black;
    background-color:var(--gray5);
}
body::after {
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:
        url(../images/welcomeMulherPB-min.png)
        url(../images/welcomeMulher-min.png)
        url(../images/welcomeHomemPB-min.png)
        url(../images/welcomeHomem-min.png)
        url(../images/welcomeMulherNegraPB-min.png)
        url(../images/welcomeMulherNegra-min.png)
        url(../images/welcomeMulherOrientalPB-min.png)
        url(../images/welcomeMulherOriental-min.png)
        url(../images/oquesomosBackgroundImagePB-min.png)
        url(../images/oquesomosBackgroundImage-min.png)
        url(../images/oquesomosMulherGloboPB-min.png)
        url(../images/oquesomosMulherGlobo-min.png)
        url(../images/oquesomosApertoMaosPB-min.png)
        url(../images/oquesomosApertoMaos-min.png)
        url(../images/oquesomos01slidePB-min.png)
        url(../images/oquesomos01slide-min.png)
        url(../images/oquesomos02slidePB-min.png)
        url(../images/oquesomos02slide-min.png)
        url(../images/oquesomos03slidePB-min.png)
        url(../images/oquesomos03slide-min.png)
        url(../images/oquesomos04slidePB-min.png)
        url(../images/oquesomos04slide-min.png)
        url(../images/oquesomos05slidePB-min.png)
        url(../images/oquesomos05slide-min.png)
        url(../images/oquesomos06slidePB-min.png)
        url(../images/oquesomos06slide-min.png)
        url(../images/oquesomos07slidePB-min.png)
        url(../images/oquesomos07slide-min.png)
        url(../images/mediadorEconomicoPB-min.png)
        url(../images/mediadorEconomico-min.png)
        url(../images/mediadorHumanoPB-min.png)
        url(../images/mediadorHumano-min.png)
        url(../images/mediadorAntropicoPB-min.png)
        url(../images/mediadorAntropico-min.png)
        url(../images/mediadorTecnologicoPB-min.png)
        url(../images/mediadorTecnologico-min.png)
        url(../images/mediadorQualidadePB-min.png)
        url(../images/mediadorQualidade-min.png)
        url(../images/SamantaBullock-min.png)
        url(../images/SamantaBullockPB-min.png)
        url(../images/valoresCard1-min.png)
        url(../images/valoresCard2-min.png)
        url(../images/valoresCard3-min.png)
        url(../images/valoresCard4-min.png)
        url(../images/valoresCard5-min.png)
        url(../images/francesca-giobbi-min.png)
        url(../images/idealizadoraFrancescaGiobbiPB-min.png)
        url(../images/idealizadoraFrancescaGiobbi-min.png)
        url(../images/parceiros-diplomacia-business-min.png)
        url(../images/parceiros-hera-min.png)
        url(../images/impulsionarBackgroundImagePB-min.png)
        url(../images/impulsionarBackgroundImage-min.png)
        url(../images/passos01PB-min.png)
        url(../images/passos01-min.png)
        url(../images/passos02PB-min.png)
        url(../images/passos02-min.png)
        url(../images/passos03PB-min.png)
        url(../images/passos03-min.png)
        url(../images/passos04PB-min.png)
        url(../images/passos04-min.png)
        url(../images/passos05PB-min.png)
        url(../images/passos05-min.png);
}
.bg-dark {
    background-color:var(--gray1)!important;
}
.bgOut {
    background:unset!important;
}
.wrapcenter {
    justify-content:center;
    align-items:center;
    margin:0 auto;
    display:inline-grid;
}
.wrap,
.wrapmodal {
    width:100%;
    height:80vh;
    padding:0;
    margin:6vh auto;
    text-align:center;
    justify-content:center;
    align-items:center;
    display:inline-grid;
}
h1 {
    font-family:'Otomanopee One', sans-serif;
    font-size:4.8vh;
    margin-top:0;
    margin-bottom:6vh;
    font-weight:400;
    line-height:120%;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
}
p {
    margin-bottom:1vh;
}
a {
    color:black;
}
a:hover {
    color:var(--roxo)
}
.strong100 {
    font-weight:100;
}
.strong300 {
    font-weight:300;
}
.strong400 {
    font-weight:400;
}
.strong600 {
    font-weight:600;
}
.strong700 {
    font-weight:700;
}
strong,
.strong,
.strong900 {
    font-weight:900;
}
.banner {
    width:100%;
    margin-top:6vh;
    margin-bottom:6vh;
}
.banner img {
    width:100%;
    height:auto;
    margin:0 auto;
    display:block;
}
.navbar {
    font-family:'Otomanopee One', sans-serif;
    padding:0.6vh 1.2vw 0.6vh 1.2vw;
    background-color:var(--gray2);
}
.navHide,
.navShow {
    top:-150vh;
    transition:all .15s ease-in-out;
}
.navShow {
    top:0;
    transition:all .15s ease-in-out;
}
.navbar-brand {
    width:8vh;
    padding:0;
    margin:1vh 0;
    font-size:unset;
    text-decoration:unset;
    white-space:nowrap;
}
.flag {
    width:3vh;
    border-radius:0.3vw;
    display:inline-block;
}
.dropdown-item .flag {
    width:3vh;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    position:relative;
    top:0;
    font-size:1.8vh;
    color:var(--gray4);
    padding:1.3vh;
    margin:0 auto;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    transition:all .5s ease;
    display:inline-block;
}
.navbar-dark .navbar-nav .nav-link.active {
    color:var(--azul);
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:var(--amarelo);
    top:-0.6vh;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color:var(--verde);
}
.btn {
    display:inline-block;
    font-weight:unset;
    line-height: unset;
    color:unset;
    text-align:center;
    text-decoration:unset;
    vertical-align:middle;
    cursor:pointer;
    -webkit-user-select:unset;
    -moz-user-select:unset;
    user-select:unset;
    background-color:unset;
    border:unset;
    padding:unset;
    font-size:unset;
    border-radius:unset;
    transition:unset;
}
.btn-primary {
    font-size:2.2vh;
    color: var(--gray4);
    position:relative;
    top:0;
    width:18vw;
    height:8vh;
    padding:2.4vh 2vh;
    margin:0 auto;
    border:0;
    border-radius:2.6vh;
    background-color:var(--gray1);
    text-shadow:unset;
    box-shadow:unset;
    transition:all .5s ease;
  }
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    font-size:2.6vh;
    top:-1vh;
    width:19vw;
    height:9vh;
    padding:3vh 2vh;
    margin:-0.5vh auto;
    border-radius:2.6vw;
    background-color:var(--roxo);
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
}
.btn-secondary {
    font-family:'Montserrat', sans-serif;
    font-size:2.2vh;
    color:var(--gray1);
    position:relative;
    top:0;
    padding:1vh 1.2vw 1vh 1.2vw;
    margin:0 auto;
    border:0;
    border-radius:2.6vh;
    background-color:var(--gray3);
    text-shadow:unset;
    box-shadow:unset;
    transition:all .5s ease;
}
.btn-secondary:hover,
.btn-secondary:active,
.btn-secondary:focus {
    font-size:2.6vh;
    background-color:var(--roxo);
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
}
button.btn-close {
    font-size:6vh;
    color:var(--roxo);
    position:fixed;
    top:2.5vh;
    right:2.5vw;
    width:unset;
    height:unset;
    padding:0;
    margin:0 auto;
    border:0;
    border-radius:0;
    background:unset;
    box-shadow:unset;
    transition:all .5s ease;
}
button.btn-close:hover {
    font-size:8vh;
    color:var(--amarelo);
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow:unset;
}
button.btn-close:active,
button.btn-close:focus {
    color:var(--vermelho);
    box-shadow:unset;
}
.modal-header,
.modal-footer {
    border:0;
}
#navigation,
.section001,
.section002,
.section003,
.section004,
.section005,
.section006,
.section007,
.section008,
.section009,
.section010,
#footer {
    width:100%;
    height:auto;
    padding-top:15vh;
    padding-bottom:15vh;
    border:0;
    background-color:var(--gray5);
}
#navigation {
    padding-top:0;
    padding-bottom:0;
}
.section001 {
    padding-top:0;
    padding-bottom:0;
}
.section001 .container-fluid,
.section001 .row,
.section001 .col-md-3,
.section001 .col-md-6,
.section001 .col-lg-3, 
.section001 .col-lg-6,
.section001 .col-xl-3, 
.section001 .col-xl-6 {
    padding:0;
    margin:0;
}
.section001 a {
    color:white;
}
.section001 a:hover {
    color:var(--roxo);
}
.section001 .edge {
    border:0.4vh solid var(--gray1);
}
.section001 .wrapmodal {
    padding:2vh 6vh;
}
.section001 .wrap .logotipo {
    max-width:16vw;
    margin:0 auto;
}
.section001 .wrap h1 {
    width:33vw;
    margin:0 auto;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
}
.section001 .wrap h2 {
    font-size:3vh;
    margin:0 auto;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
}
.section001-btn-01,
.section001-btn-02,
.section001-btn-03,
.section001-btn-04 {
    font-family:'Otomanopee One', sans-serif;
    color:white;
    text-align:right;
    width:100%;
    height:0;
    padding:1vh 1vw 47.5vh 1vw;
    margin:0 auto;
    border:0.4vh solid var(--gray1);
    border-radius:0;
    background-color:var(--gray1);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    transition:all .5s ease;
}
.section001-btn-01:hover,
.section001-btn-02:hover,
.section001-btn-03:hover,
.section001-btn-04:hover,
.section001-btn-01:focus,
.section001-btn-02:focus,
.section001-btn-03:focus,
.section001-btn-04:focus {
    font-size:2.8vh;
    color:var(--amarelo);
    padding:3vh 3vw 44.5 0;
    border:0.4vh solid var(--gray1);
    box-shadow:unset;
}
.section001-btn-01:hover {
    color:var(--roxo);
}
.section001-btn-02:hover {
    color:var(--azul);
}
.section001-btn-03:hover {
    color:var(--verde);
}
.section001-btn-04:hover {
    color:var(--amarelo);
}
.section001-btn-01,
#section001-btn-01-content .modal-fullscreen {
    background-image:url("../images/welcomeMulherPB-min.png");
}
.section001-btn-01:hover {
    background-image:url("../images/welcomeMulher-min.png");
}
.section001-btn-02,
#section001-btn-02-content .modal-fullscreen {
    color:black;
    background-image:url("../images/welcomeHomemPB-min.png");
}
.section001-btn-02:hover {
    background-image:url("../images/welcomeHomem-min.png");
}
.section001-btn-03,
#section001-btn-03-content .modal-fullscreen {
    color:black;
    background-image:url("../images/welcomeMulherNegraPB-min.png");
}
.section001-btn-03:hover {
    background-image:url("../images/welcomeMulherNegra-min.png");
}
.section001-btn-04,
#section001-btn-04-content .modal-fullscreen {
    background-image:url("../images/welcomeMulherOrientalPB-min.png");
}
.section001-btn-04:hover {
    background-image:url("../images/welcomeMulherOriental-min.png");
}
#section001-btn-01-content .modal-fullscreen,
#section001-btn-02-content .modal-fullscreen,
#section001-btn-03-content .modal-fullscreen,
#section001-btn-04-content .modal-fullscreen {
    width:50.5vw;
    border:6px solid var(--gray1);
    float:right;
    background-color:black;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#section001-btn-01-content.fade .modal-dialog,
#section001-btn-02-content.fade .modal-dialog,
#section001-btn-03-content.fade .modal-dialog,
#section001-btn-04-content.fade .modal-dialog {
    right:-50%;
    transition:all .5s ease;
}
#section001-btn-01-content.fade.show .modal-dialog,
#section001-btn-02-content.fade.show .modal-dialog,
#section001-btn-03-content.fade.show .modal-dialog,
#section001-btn-04-content.fade.show .modal-dialog {
    right:0;
    transition:all .5s ease;
}
#section001-btn-01-content .modal-content,
#section001-btn-02-content .modal-content,
#section001-btn-03-content .modal-content,
#section001-btn-04-content .modal-content {
    background-color:rgba(0, 0, 0, 0.7);;
}
#section001-btn-01-content .modal-content .modal-body,
#section001-btn-02-content .modal-content .modal-body,
#section001-btn-03-content .modal-content .modal-body,
#section001-btn-04-content .modal-content .modal-body {
    color:var(--gray5);
}
#section001-btn-01-content .wrapcenter,
#section001-btn-02-content .wrapcenter,
#section001-btn-03-content .wrapcenter,
#section001-btn-04-content .wrapcenter {
    height:93vh;
}
.list-group-item-action {
    color:white;
    width:20vh;
    padding:1vh 1vw;
    margin:0 auto;
    border:0;
    border-radius:0;
    background-color:transparent;
}
.list-group-item-action:focus,
.list-group-item-action:hover {
    color:black;
    background-color:var(--amarelo);
}
.list-group-item-action:focus {
    background-color:var(--verde);
}
.section002 {
    padding-top:0;
    padding-bottom:0;
}
.section002 .wrapcut {
    padding-top:15vh;
}
.section002 .background {
    background:url('../images/oquesomosBackgroundImagePB-min.png') no-repeat;
    background-position:0 0;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-color:black;
    transition:all .5s ease;
}
.section002 .background:hover {
    background:url('../images/oquesomosBackgroundImage-min.png') no-repeat;
    background-position:0 0;
    -webkit-background-size:100%;
    -moz-background-size:100%;
    -o-background-size:100%;
    background-size:100%;
    background-color:black;
    transition:all .5s ease;
}
.section002 .container-fluid.cut {
    background: linear-gradient(140deg, transparent 37%, var(--gray5) 0%);
    padding-top:15vh;
    padding-bottom:15vh;
}
.section002 .wrap p {
    text-align:left;
    margin-bottom:6vh;
}
#businessContent .modal-body,
#economyContent .modal-body {
    width: 100%;
    padding:0;
    margin:0 auto;
    background-color:var(--gray1);
    overflow-y:unset;
}
#businessContent .pic,
#economyContent .pic {
    height:100vh;
    background-image:url("../images/oquesomosApertoMaosPB-min.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-color:var(--gray1);
    transition:all .5s ease;
}
#businessContent .pic:hover {
    background-image:url("../images/oquesomosApertoMaos-min.png");
}
#economyContent .pic {
    background-image:url("../images/oquesomosMulherGloboPB-min.png");
}
#economyContent .pic:hover {
    background-image:url("../images/oquesomosMulherGlobo-min.png");
}
#economyContent .wrap,
#businessContent .wrap {
    width:85%;
    text-align:left;
}
#businessContent ul,
#economyContent ul {
    padding:0;
    margin:0 auto;
    display:block;
    list-style-type: disc;
    margin-block-start:0;
    margin-block-end:0;
    margin-inline-start:0;
    margin-inline-end:0;
    padding-inline-start:0;
}
#businessContent ul li,
#economyContent ul li {
    color:white;
    font-weight:300;
    padding:0 0 6vh 0;
    margin:0 auto;
    list-style-type:disc;
    list-style-position:inside;
}
#wrapcard-1,
#wrapcard-2,
#wrapcard-3,
#wrapcard-4,
#wrapcard-5,
#wrapcard-6 {
    padding: 0 1.4vh 1.4vh 1.4vh;
    margin:10vh auto;
    display:inline-table;
    text-shadow:unset;
    transition:all .5s ease;
}
#wrapcard-1:hover,
#wrapcard-2:hover,
#wrapcard-3:hover,
#wrapcard-4:hover,
#wrapcard-5:hover,
#wrapcard-6:hover {
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
}
#wrapcard-icon-1,
#wrapcard-icon-2,
#wrapcard-icon-3,
#wrapcard-icon-4,
#wrapcard-icon-5,
#wrapcard-icon-6 {
    position:relative;
    top:-3vh;
    width:50%;
    margin:0 auto;
    background-color:var(--gray3);
    transition:all .5s ease;
}
#wrapcard-1:hover > #wrapcard-icon-1,
#wrapcard-2:hover > #wrapcard-icon-2,
#wrapcard-3:hover > #wrapcard-icon-3,
#wrapcard-4:hover > #wrapcard-icon-4,
#wrapcard-5:hover > #wrapcard-icon-5,
#wrapcard-6:hover > #wrapcard-icon-6 {
    width:70%;
    border-radius:50vw;
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
}
#wrapcard-1:hover > #wrapcard-icon-1 {
    background-color:var(--azul);
}
#wrapcard-2:hover > #wrapcard-icon-2 {
    background-color:var(--amarelo);
}
#wrapcard-3:hover > #wrapcard-icon-3 {
    background-color:var(--vermelho);
}
#wrapcard-4:hover > #wrapcard-icon-4 {
    background-color:var(--verde);
}
#wrapcard-5:hover > #wrapcard-icon-5 {
    background-color:var(--roxo);
}
#wrapcard-6:hover > #wrapcard-icon-6 {
    background-color:black;
}
.wrapcard-retangle {
    position:relative;
    top:-10vh;
    width:3vh;
    height:3vh;
    margin:0 auto;
    background-color:black;
}
.wrapcard-retangle::before {
    display:inline-block;
    content:"";
    border-top:0.3vh dashed black;
    width:26.5vh;
    margin:0 auto;
    transform:translateY(-0.4vh) translateX(-11.8vh);
}
#wrapcard-1:hover > .wrapcard-retangle,
#wrapcard-2:hover > .wrapcard-retangle,
#wrapcard-3:hover > .wrapcard-retangle,
#wrapcard-4:hover > .wrapcard-retangle,
#wrapcard-5:hover > .wrapcard-retangle,
#wrapcard-6:hover > .wrapcard-retangle {
    border-radius:10vw;
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
    transition:all .5s ease;
}
.wrapcard-icon img {
    width:100%;
}
.wrapcard-title {
    font-weight:900;
    text-align:center;
    margin-bottom:1vh;
}
.wrapcard-description {
    font-weight:300;
}
#carouselFredomeeUsers {
    width:100%;
    height:auto;
    margin-top:6vh;
    margin-bottom:6vh;
}
#carouselFredomeeUsers .carousel-indicators {
    left:49vh;
    bottom:-2vh;
}
#carouselFredomeeUsers .carousel-indicators [data-bs-target]{
    background-color:black;
}
#carouselFredomeeUsers .carousel-control-next,
#carouselFredomeeUsers .carousel-control-prev {
    width:10%;
    transition:all .5s ease;
    z-index:3;
}
#carouselFredomeeUsers .carousel-control-next:hover,
#carouselFredomeeUsers .carousel-control-prev:hover {
    opacity:1;
}
#carouselFredomeeUsers button i {
    font-size:6vh;
    color:black;
    transition:all .5s ease;
}
#carouselFredomeeUsers button i:hover {
    font-size:7vh;
    color:var(--amarelo);
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    transition:all .5s ease;
}
#carouselFredomeeUsers .carousel-inner {
    background-color:transparent;
    overflow: visible;
}
#carouselFredomeeUsers .carousel-item img {
    position:relative;
    width:65vh;
}
#carouselFredomeeUsers .carousel-caption {
    width:65%;
    height: auto;
    top:10%;
    right:0;
    bottom:10%;
    left:35%;
    padding:1vh 1vh 0 0;
    background:linear-gradient(286.88deg, #F6F6F6 12.23%, #C4C4C4 84.94%);
    z-index:2;
}
#carouselFredomeeUsers .caption-content {
    position:absolute;
    top:1%;
    right:1%;
    bottom:0;
    left:0;
    width:99%;
    height:fit-content;
    padding:1vh;
    color:black;
    background:linear-gradient(288.09deg, rgba(248, 248, 248, 0.9) 20.01%, #C4C4C4 95.96%);
    justify-content:center;
    align-items:center;
    display:inline-grid;
}
#carouselFredomeeUsers .caption-content h1 {
    margin:0 auto;
}
#carouselFredomeeUsers .caption-content hr {
    width:70%;
    margin:0 auto 3vh auto;
}
#carouselFredomeeUsers .caption-content p {
    text-align:center;
}
#carouselFredomeeUsers .btn-primary {
    margin-top:1vh;
}
.oquesomos01slide,
.oquesomos02slide,
.oquesomos03slide,
.oquesomos04slide,
.oquesomos05slide,
.oquesomos06slide,
.oquesomos07slide {
    position:relative;
    width:65vh;
    height:78vh;
    background-repeat:no-repeat;
    background-size:cover;
    background-color:var(--gray1);
    transition:all .5s ease;
}
.oquesomos01slide {
    background-image:url("../images/oquesomos01slidePB-min.png");
}
.oquesomos01slide:hover {
    background-image:url("../images/oquesomos01slide-min.png");
}
.oquesomos02slide {
    background-image:url("../images/oquesomos02slidePB-min.png");
}
.oquesomos02slide:hover {
    background-image:url("../images/oquesomos02slide-min.png");
}
.oquesomos03slide {
    background-image:url("../images/oquesomos03slidePB-min.png");
}
.oquesomos03slide:hover {
    background-image:url("../images/oquesomos03slide-min.png");
}
.oquesomos04slide {
    background-image:url("../images/oquesomos04slidePB-min.png");
}
.oquesomos04slide:hover {
    background-image:url("../images/oquesomos04slide-min.png");
}
.oquesomos05slide {
    background-image:url("../images/oquesomos05slidePB-min.png");
}
.oquesomos05slide:hover {
    background-image:url("../images/oquesomos05slide-min.png");
}
.oquesomos06slide {
    background-image:url("../images/oquesomos06slidePB-min.png");
}
.oquesomos06slide:hover {
    background-image:url("../images/oquesomos06slide-min.png");
}
.oquesomos07slide {
    background-image:url("../images/oquesomos07slidePB-min.png");
}
.oquesomos07slide:hover {
    background-image:url("../images/oquesomos07slide-min.png");
}
.contenthash {
    position:absolute;
    top:3vh;
    left:6vh;
    width:53vh;
    height:72vh;
    justify-content:start;
    align-items:end;
    display:inline-grid;
    z-index:1;
}
.contenthash:before,
.contenthash:after,
.contenthash>:first-child:before,
.contenthash>:first-child:after {
    position:absolute;
    width:25vh;
    height:25vh;
    border-color:white; /* or whatever colour */
    border-style:solid; /* or whatever style */
    content:' ';
}
.contenthash:before {top:0;left:0;border-width:4px 0 0 4px}
.contenthash:after {top:0;right:0;border-width:0 0 0 0}
.contenthash>:first-child:before {bottom:0;right:0;border-width:0 4px 4px 0}
.contenthash>:first-child:after {bottom:0;left:0;border-width:0 0 0 0}
.contenthash img {
    width:35vh!important;
}
#modalFreedomeeUser h1 {
    margin-bottom:6vh;
}
#modalFreedomeeUser p {
    margin-bottom:3vh;
}
#modalFreedomeeUser dl,
#modalFreedomeeUser ol,
#modalFreedomeeUser ul {
    margin-bottom:6vh;
}
#modalFreedomeeUser .table {
    margin-top:6vh;
    margin-bottom:6vh;
}
#modalFreedomeeUser .pad1 {
    padding:0.5rem 0.5rem 0.5rem 3rem;
}
#modalFreedomeeUser .pad2 {
    padding:0.5rem 0.5rem 0.5rem 6rem;
}
#modalFreedomeeUser tr th {
    text-align:left;
    font-weight:300;
}
#modalFreedomeeUser .thright {
    text-align:right;
}
#modalFreedomeeUser .table-hover tr:hover,
#modalFreedomeeUser .table-hover tr:hover > .thright,
#modalFreedomeeUser .table-hover tr:hover > th {
    color:var(--amarelo);
    background-color:var(--verde);
    transition:all .5s ease;
}
#modalFreedomeeUser .grafico01 {
    width:100%;
    margin:0 auto;
    transition:all .5s ease;
}
#modalFreedomeeUser .grafico01:hover {
    width:140%;
}
#modalFreedomeeUser .grafico02,
#modalFreedomeeUser .grafico03,
#modalFreedomeeUser .grafico04,
#modalFreedomeeUser .grafico05 {
    width:100%;
    margin:0 auto;
    transition:all .5s ease;
}
#modalFreedomeeUser .grafico02:hover,
#modalFreedomeeUser .grafico03:hover,
#modalFreedomeeUser .grafico04:hover,
#modalFreedomeeUser .grafico05:hover {
    width:120%;
}
.section003 #card1,
.section003 #card2,
.section003 #card3,
.section003 #card4,
.section003 #card5 {
    margin:2vh auto 6vh auto;
}
.cardMediador {
    width:25vh;
    height:44vh;
    margin:0 auto;
    background-repeat:no-repeat;
    background-size:cover;
    transition:all .5s ease;
}
.mediadorEconomico {
    background-image:url("../images/mediadorEconomicoPB-min.png");
}
.mediadorEconomico:hover {
    background-image:url("../images/mediadorEconomico-min.png");
}
.mediadorHumano {
    background-image:url("../images/mediadorHumanoPB-min.png");
}
.mediadorHumano:hover {
    background-image:url("../images/mediadorHumano-min.png");
}
.mediadorAntropico {
    background-image:url("../images/mediadorAntropicoPB-min.png");
}
.mediadorAntropico:hover {
    background-image:url("../images/mediadorAntropico-min.png");
}
.mediadorTecnologico {
    background-image:url("../images/mediadorTecnologicoPB-min.png");
}
.mediadorTecnologico:hover {
    background-image:url("../images/mediadorTecnologico-min.png");
}
.mediadorQualidade {
    background-image:url("../images/mediadorQualidadePB-min.png");
}
.mediadorQualidade:hover {
    background-image:url("../images/mediadorQualidade-min.png");
}
.mediadorEconomicoContent,
.mediadorHumanoContent,
.mediadorAntropicoContent,
.mediadorTecnologicoContent,
.mediadorQualidadeContent {
    color:white;
    width:25vh;
    height:55vh;
    padding:2vh;
    margin:0 auto;
    text-align:center;
    justify-content:center;
    align-items:center;
    display:inline-grid;
    transition:all .5s ease;
}
.mediadorEconomicoContent {
    color:black;
    background:linear-gradient(0deg, rgba(253, 254, 0, 0.8), rgba(253, 254, 0, 0.8)), url("../images/mediadorEconomicoPB-min.png"), white;
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
}
.mediadorHumanoContent {
    background:linear-gradient(0deg, rgba(255, 54, 88, 0.8), rgba(255, 54, 88, 0.8)), url("../images/mediadorHumanoPB-min.png"), white;
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
}
.mediadorAntropicoContent {
    background:linear-gradient(0deg, rgba(19, 194, 165, 0.8), rgba(19, 194, 165, 0.8)), url("../images/mediadorAntropicoPB-min.png"), white;
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
}
.mediadorTecnologicoContent {
    background:linear-gradient(0deg, rgba(115, 150, 216, 0.8), rgba(115, 150, 216, 0.8)), url("../images/mediadorTecnologicoPB-min.png"), white;
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
}
.mediadorQualidadeContent {
    background:linear-gradient(0deg, rgba(199, 166, 231, 0.8), rgba(199, 166, 231, 0.8)), url("../images/mediadorQualidadePB-min.png"), white;
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
}
.section003 #card1 .warpicon,
.section003 #card2 .warpicon,
.section003 #card3 .warpicon,
.section003 #card4 .warpicon,
.section003 #card5 .warpicon,
.section003 #card1 .warp,
.section003 #card2 .warp,
.section003 #card3 .warp,
.section003 #card4 .warp,
.section003 #card5 .warp {
    text-align:center;
    justify-content:center;
    align-items:center;
    display:inline-grid;
}
.section003 #card1 .icon,
.section003 #card2 .icon,
.section003 #card3 .icon,
.section003 #card4 .icon,
.section003 #card5 .icon {
    width:100%;
    margin:0 auto;
}
.section003 #card1 p,
.section003 #card2 p,
.section003 #card3 p,
.section003 #card4 p,
.section003 #card5 p {
    position: relative;
    top:-1vh;
    text-align:center;
    font-size:1.2vh;
    margin:0 auto;
}
.section003 #card1 .warp p,
.section003 #card2 .warp p,
.section003 #card3 .warp p,
.section003 #card4 .warp p,
.section003 #card5 .warp p {
    position:relative;
    top:0;
    font-size:2vh;
}
.section003 #card1 a,
.section003 #card2 a,
.section003 #card3 a,
.section003 #card4 a,
.section003 #card5 a {
    text-decoration:none;
    z-index:1;
}
.collapsing {
    height:0;
    overflow:hidden;
    transition:height .35s ease
}
.section004 h1 {
    margin-bottom:16vh;
}
.section004 .bg-dark {
    margin-bottom:16vh;
}
.section004 #card1 span,
.section004 #card2 span,
.section004 #card3 span,
.section004 #card4 span,
.section004 #card5 span {
    display:none;
}
.section004 #card1,
.section004 #card2,
.section004 #card3,
.section004 #card4,
.section004 #card5 {
    position:relative;
    width:26vh;
    height:26vh;
    padding:0;
    margin:2vh auto 6vh auto;
    border:0.8vh solid var(--gray5);
    border-radius:0;
    text-align:center;
    justify-content:center;
    align-items:center;
    display:inline-grid;
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
    transition:all .5s ease;
}
.section004 #card1:hover {
    border-color:var(--azul);
    border-radius:3vh;
}
.section004 #card2:hover {
    border-color:var(--amarelo);
    border-radius:3vh;
}
.section004 #card3:hover {
    border-color:var(--vermelho);
    border-radius:3vh;
}
.section004 #card4:hover {
    border-color:var(--verde);
    border-radius:3vh;
}
.section004 #card5:hover {
    border-color:var(--roxo);
    border-radius:3vh;
}
.section004 #card1 {
    top:-12vh;
    background:url("../images/valoresCard1-min.png"), var(--gray5);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.section004 #card2 {
    top:15vh;
    background:url("../images/valoresCard2-min.png"), var(--gray5);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.section004 #card3 {
    top:-12vh;
    background:url("../images/valoresCard3-min.png"), var(--gray5);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.section004 #card4 {
    top:15vh;
    background:url("../images/valoresCard4-min.png"), var(--gray5);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.section004 #card5 {
    top:-12vh;
    background:url("../images/valoresCard5-min.png"), var(--gray5);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.section004 #card6 {
    position:relative;
    width:48vh;
    height:44vh;
    margin:6vh auto 12vh auto;
    background:url("../images/SamantaBullockPB-min.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    transition:all .5s ease;
}
.section004 #card6:after,
.section004 #card6:before {
    position:absolute;
    top:6vh;
    right:-6vh;
    width:6vh;
    height:44vh;
    background-color:var(--gray1);
    content:" ";
}
.section004 #card6:after {
    top:unset;
    right:-6vh;
    bottom:-6vh;
    width:44vh;
    height:6vh;
}
.section004 #card6:hover {
    background:url("../images/SamantaBullock-min.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
.section004 .wrapCard {
    height:60vh;
    margin:0 auto;
}
.section004 #card7 {
    position:relative;
    width:70vh;
    height:30vh;
    padding:6vh;
    margin:0 auto;
    border:0.3vh solid var(--gray1);
    text-align:left;
    justify-content:center;
    align-items:center;
    display:inline-grid;
}
.section004 #card7:after,
.section004 #card7:before {
    position:absolute;
    top:-3vh;
    right:unset;
    bottom:unset;    
    left:-3vh;
    width:10vh;
    height:8vh;
    background-color:var(--gray5);
    text-align:left;
    justify-content:center;
    align-items:center;
    display:inline-grid;
    content:url("../images/valoresCard7Symbol1.svg");
}
.section004 #card7:after {
    top:unset;
    right:-3vh;
    bottom:-3vh;
    left:unset;
    content:url("../images/valoresCard7Symbol2.svg");
}
.section005 {
    
}
.section005 .wrapCard {
    height:30vh;
    margin:0 auto 6vh auto;
}
.section005 #card1 {
    font-size:3.2vh;
    font-weight:300;
    line-height:3.8vh;
    position:relative;
    width:95%;
    height:26vh;
    padding:6vh;
    margin:0 auto;
    border:0.3vh solid var(--gray1);
    text-align:left;
    justify-content:center;
    align-items:center;
    display:inline-grid;
}
.section005 #card1:after,
.section005 #card1:before {
    position:absolute;
    top:-3vh;
    right:unset;

    bottom:unset;    
    left:-3vh;
    width:10vh;
    height:8vh;
    background-color:var(--gray5);
    text-align:left;
    justify-content:center;
    align-items:center;
    display:inline-grid;
    content:url("../images/valoresCard7Symbol1.svg");
}
.section005 #card1:after {
    top:unset;
    right:-3vh;
    bottom:-3vh;
    left:unset;
    content:url("../images/valoresCard7Symbol2.svg");
}
.section005 #card2 {
    position:relative;
    width:100%;
    height:47.5vh;
    margin:2vh auto 2vh auto;
    background:url("../images/idealizadoraFrancescaGiobbiPB-min.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
    cursor:pointer;
    transition:all .5s ease;
}
.section005 #card2:hover {
    background:url("../images/idealizadoraFrancescaGiobbi-min.png");
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
#letterFreedomeeUsers .modal-fullscreen {
    background-image:url("../images/francesca-giobbi-min.png");
}
#letterFreedomeeUsers .modal-fullscreen {
    width:50.5vw;
    border:6px solid var(--gray1);
    float:right;
    background-color:black;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
}
#letterFreedomeeUsers.fade .modal-dialog {
    right:-50%;
    transition:all .5s ease;
}
#letterFreedomeeUsers.fade.show .modal-dialog {
    right:0;
    transition:all .5s ease;
}
#letterFreedomeeUsers .modal-content {
    background-color:rgba(0, 0, 0, 0.1);;
}
#letterFreedomeeUsers .modal-content .modal-body {
    padding:0;
    overflow:hidden;
}
#letterFreedomeeUsers .wrapmodal {
    position:absolute;
    top:50%;
    right:0;
    bottom:0;
    left:15%;
    width:85%;
    height:50vh;
    padding:3vh;
    margin:0 auto;
    background:rgba(255, 255, 255, 0.7);
    text-align:left;
    justify-content:center;
    align-items:center;
    display:inline-block;
    overflow-y: scroll;
}
.section006 table {
    width:85%;
    margin:0 auto;
}
.section006 table tr td {
    text-align:center;
    padding:3vh;
}
.section006 .logo {
    width:40vh;
    margin:0 auto;
}
.section007 .table > tbody > tr > td:first-child {
    position:relative;
}
.section007 .table > tbody > tr > td:first-child span {
    position:absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
    width:1px;
    height:100%;
    margin:0 auto;
    border:1px dashed var(--gray1);
}
#section007title1,
#section007title2,
#section007title3,
#section007title4,
#section007title5 {
    font-size:3.2vh;
    line-height:3.8vh;
    font-weight:900;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    transition:all .5s ease;
}
#section007content1,
#section007content2,
#section007content3,
#section007content4,
#section007content5 {
    position:relative;
}
#section007card1 {
    top:-5vh;
    left:-55vh;
    z-index:5;
    background-image:url("../images/passos01PB-min.png");
    transform:rotate(-15deg);
}
#section007card1:hover,
#section007content1:hover > #section007card1 {
    width:50vh;
    height:68vh;
    background-image:url("../images/passos01-min.png");
    transform:rotate(0deg);
    z-index:6;
}
#section007card2 {
    top:-10vh;
    left:-35vh;
    z-index:4;
    background-image:url("../images/passos02PB-min.png");
    transform:rotate(30deg);
}
#section007card2:hover,
#section007content2:hover > #section007card2 {
    top:-20vh;
    left:-55vh;
    width:50vh;
    height:68vh;
    background-image:url("../images/passos02-min.png");
    transform:rotate(0deg);
    z-index:6;
}
#section007card3 {
    top:-10vh;
    left:-55vh;
    z-index:3;
    background-image:url("../images/passos03PB-min.png");
    transform:rotate(-10deg);
}
#section007card3:hover,
#section007content3:hover > #section007card3 {
    top:-30vh;
    left:-55vh;
    width:50vh;
    height:68vh;
    background-image:url("../images/passos03-min.png");
    transform:rotate(0deg);
    z-index:6;
}
#section007card4 {
    top:-20vh;
    left:-35vh;
    z-index:2;
    background-image:url("../images/passos04PB-min.png");
    transform:rotate(10deg);
}
#section007card4:hover,
#section007content4:hover > #section007card4 {
    top:-40vh;
    left:-55vh;
    width:50vh;
    height:68vh;
    background-image:url("../images/passos04-min.png");
    transform:rotate(0deg);
    z-index:6;
}
#section007card5 {
    top:-20vh;
    left:-50vh;
    z-index:1;
    background-image:url("../images/passos05PB-min.png");
    transform:rotate(-15deg);
}
#section007card5:hover,
#section007content5:hover > #section007card5 {
    top:-60vh;
    left:-55vh;
    width:50vh;
    height:68vh;
    background-image:url("../images/passos05-min.png");
    transform:rotate(0deg);
    z-index:6;
}
#section007card1,
#section007card2,
#section007card3,
#section007card4,
#section007card5 {
    position:absolute;
    width:25vh;
    height:31vh;
    margin:0 auto;
    background-position:top center;
    background-repeat:no-repeat;
    background-size:cover;
    cursor:pointer;
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
    transition:all .5s ease;
}
.section008 {
    padding-top:0;
    padding-bottom:0;
}
.section008 .background {
    background:url('../images/impulsionarBackgroundImagePB-min.png') no-repeat;
    background-position:right bottom;
    -webkit-background-size:70%;
    -moz-background-size:70%;
    -o-background-size:70%;
    background-size:70%;
    background-color:black;
    transition:all .5s ease;
}
.section008 .background:hover {
    background:url('../images/impulsionarBackgroundImage-min.png') no-repeat;
    background-position:right bottom;
    -webkit-background-size:70%;
    -moz-background-size:70%;
    -o-background-size:70%;
    background-size:70%;
    background-color:black;
    transition:all .5s ease;
}
.section008 .container-fluid.cut {
    background:linear-gradient(148deg, var(--gray5) 65%, transparent 0%);
    padding-top:10vh;
    padding-bottom:10vh;
}
.section008 .wrap {
    width:100%;
    height:50vh;
    padding:0;
    margin:0 auto;
    text-align:center;
    justify-content:center;
    align-items:center;
    display:inline-grid;
}
#footer {
    padding-top:0;
    padding-bottom:0;
    background-color:var(--gray1);
}
#footer .wrapcenter {
    height:25vh;
}
#footer .wrap {
    width:90%;
    height: auto;
    margin:0 auto;
    display:inline-block;
}
#footer .navbar-nav {
    font-size:2.2vh;
    text-align:center;
    width:100%;
    margin:0 auto;
}
#footer .logotipo {
    max-width:20vh;
    margin:0 auto;
}
#footer p {
    font-size:1.6vh;
    color:white;
    margin:0 auto;
}
#footer .social {
    width:2vh;
    margin:1.2vh 0.6vw 0 0;
    transition:all .5s ease;
    display:inline-block;
}
#footer .social:hover {
    width:3vh;
    margin:0.22vh 0.6vw 0 0;
    opacity:0.6;
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
}
#footer .nav-link.btn.btn-secondary {
    width:50%;
    margin:2vh auto;
}
@media (max-width:1024px) {
    .flag {
        width:2vh;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active {
        font-size:0.8vh;
        padding:0.3vh 1.2vw;
    }
    .btn-primary {
        width:38vw;
        border-radius:2.6vh;
    }
    .btn-primary:hover {
        width:45vw;
        border-radius:6.6vw;
    }
    .section001 .wrap .logotipo {
        max-width:55vw;
    }
    .section001 .wrap h1 {
        width:90vw;
    }
    .section001-btn-01,
    .section001-btn-02,
    .section001-btn-03,
    .section001-btn-04 {
        padding: 1vh 1vw 25.5vh 1vw;
    }
    #section001-btn-01-content .modal-fullscreen,
    #section001-btn-02-content .modal-fullscreen,
    #section001-btn-03-content .modal-fullscreen,
    #section001-btn-04-content .modal-fullscreen,
    #letterFreedomeeUsers .modal-fullscreen {
        width:100%;
    }
    .section002 .container-fluid.cut {
        background:linear-gradient(140deg, transparent 21%, white 0%);
        padding-top:25vh;
        padding-bottom:15vh;
    }
    #carouselFredomeeUsers {
        margin-top:3vh;
        margin-bottom:10vh;
    }
    #carouselFredomeeUsers .carousel-indicators {
        top:unset;
        left:0;
        bottom:-10vh;
        right:0;
    }
    .oquesomos01slide,
    .oquesomos02slide,
    .oquesomos03slide,
    .oquesomos04slide,
    .oquesomos05slide,
    .oquesomos06slide,
    .oquesomos07slide {
        width:100%;
        height:auto;
        padding-bottom:40vh;
    }
    .contenthash {
        top:2vh;
        left:4vh;
        width: 85%;
        height: 35vh;
    }
    #carouselFredomeeUsers .carousel-inner {
        width:100%;
        height:auto;
        padding-bottom: 100vh;
        overflow: visible;
    }
    #carouselFredomeeUsers .carousel-caption {
        width:100%;
        top:100%;
        left:0;
        padding: 1vh 1vh 100vh 0;
    }
    #carouselFredomeeUsers button i {
        font-size:4vh;
    }
    #carouselFredomeeUsers button i:hover {
        font-size:5vh;
    }
    #modalFreedomeeUser .grafico01 {
        width:50%;
    }
    #modalFreedomeeUser .grafico01:hover {
        width:65%;
    }
    #modalFreedomeeUser .grafico02:hover,
    #modalFreedomeeUser .grafico03:hover,
    #modalFreedomeeUser .grafico04:hover,
    #modalFreedomeeUser .grafico05:hover {
        width:100%;
    }
    .section004 h1 {
        margin-bottom:6vh;
    }
    .section004 .bg-dark {
        margin-bottom:6vh;
    }
    .section004 #card1,
    .section004 #card2,
    .section004 #card3,
    .section004 #card4,
    .section004 #card5 {
        top:0;
    }
    .section004 .wrapCard {
        height:32vh;
        margin-bottom:6vh;
    }
    .section005 .wrapCard {
        margin-bottom:6vh;
    }
    .section005 #card1 {
        font-size:2.2vh;
        line-height:120%;
    }
    .section008 .container-fluid.cut {
        padding-bottom:40vh;
    }
    .section008 .background {
        background-position:center bottom;
        -webkit-background-size:170%;
        -moz-background-size:170%;
        -o-background-size:170%;
        background-size:170%;
    }
    .section008 .background:hover {
        background-position:center bottom;
        -webkit-background-size:170%;
        -moz-background-size:170%;
        -o-background-size:170%;
        background-size:170%;
    }
    #footer .navbar-nav {
        font-size:1vh;
        text-align:center;
        width:100%;
        margin:0 auto;
    }
    #footer p {
        font-size:1vh;
    }
}
@media (max-width:576px) {
    html,
    body {
        position:relative;
        font-family:'Montserrat', sans-serif;
        font-size:3vh;
        font-weight:400;
        line-height:120%;
        color:black;
    }
    .flag {
        width:4vh;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active {
        font-size:3vh;
        padding:2vh 2vw 2vh 2vw;
    }
    .navbar-dark .navbar-nav .nav-link.btn-secondary {
        width:100%;
        padding:2vh 3vw 2vh 3vw !important;
    }
    .btn-primary {
        width:50vw;
    }
    .btn-primary:hover {
        width:57vw;
    }
    .section001-btn-01,
    .section001-btn-02,
    .section001-btn-03,
    .section001-btn-04 {
        font-size:4vh;
        padding: 1vh 1vw 50vh 1vw;
    }
    .section001-btn-01:hover,
    .section001-btn-02:hover,
    .section001-btn-03:hover,
    .section001-btn-04:hover,
    .section001-btn-01:focus,
    .section001-btn-02:focus,
    .section001-btn-03:focus,
    .section001-btn-04:focus {
        font-size:4.8vh;
    }
    .section002 .container-fluid.cut {
        background:linear-gradient(140deg, transparent 14%, white 0%);
        padding-top:30vh;
        padding-bottom:10vh;
    }
    .section002 .wrap {
        height:auto;
    }
    #wrapcard-icon-1,
    #wrapcard-icon-2,
    #wrapcard-icon-3,
    #wrapcard-icon-4,
    #wrapcard-icon-5,
    #wrapcard-icon-6 {
        width:30%;
    }
    #wrapcard-1:hover > #wrapcard-icon-1,
    #wrapcard-2:hover > #wrapcard-icon-2,
    #wrapcard-3:hover > #wrapcard-icon-3,
    #wrapcard-4:hover > #wrapcard-icon-4,
    #wrapcard-5:hover > #wrapcard-icon-5,
    #wrapcard-6:hover > #wrapcard-icon-6 {
        width:50%;
    }
    .wrapcard-retangle::before {
        transform:translateY(-1vh) translateX(-11.8vh);
    }
    #carouselFredomeeUsers {
        margin-top:6vh;
    }
    #carouselFredomeeUsers .carousel-caption {
        overflow-y:scroll;
    }
    #modalFreedomeeUser .grafico01,
    #modalFreedomeeUser .grafico01:hover {
        width:100%;
    }
    .cardMediador {
        width:100%;
        height:100vh;
    }
    .mediadorEconomicoContent,
    .mediadorHumanoContent,
    .mediadorAntropicoContent,
    .mediadorTecnologicoContent,
    .mediadorQualidadeContent {
        color:white;
        width:100%;
        height:100vh;
    }
    .section003 #card1 p,
    .section003 #card2 p,
    .section003 #card3 p,
    .section003 #card4 p,
    .section003 #card5 p,
    .section003 #card1 .warp p,
    .section003 #card2 .warp p,
    .section003 #card3 .warp p,
    .section003 #card4 .warp p,
    .section003 #card5 .warp p {
        font-size: 2.4vh;
    }
    .section004 #card1,
    .section004 #card2,
    .section004 #card3,
    .section004 #card4,
    .section004 #card5 {
        width:90%;
        height:47.5vh;
        margin:3vh auto;
    }
    .section004 #card6 {
        width:90%;
        height:47.5vh;
    }
    .section004 #card6:after,
    .section004 #card6:before {
        position:absolute;
        top:6vh;
        right:-3vh;
        width:3vh;
        height:44vh;
        background-color:var(--gray1);
        content:" ";
    }
    .section004 #card6:after {
        top:unset;
        right:-3vh;
        bottom:-3vh;
        width:44vh;
        height:3vh;
    }
    .section004 .wrapCard {
        margin:0 auto 40vh auto;
    }
    .section004 #card7 {
        width:90%;
        height:60vh;
        margin-bottom:6vh;
    }
    .section005 .wrapCard {
        height:50vh;
    }
    .section005 #card1 {
        font-size:3.2vh;
        line-height:3.8vh;
        height:50vh;
        margin-bottom:6vh;
    }
    .section005 .border-end {
        border-color:transparent!important;
    }
    .section006 .logo {
        width:40vh;
        margin:0 auto;
    }
    #section007card1,
    #section007card2,
    #section007card3,
    #section007card4,
    #section007card5 {
        width:20vh;
        height:26vh;
    }
    #footer .wrapcenter {
        height:35vh;
    }
    #footer .logotipo {
        max-width:30vh;
        margin-top:2vh;
        margin-bottom:2vh;
    }
    #footer p {
        font-size:2.2vh;
        margin-bottom:2vh;
    }
    #footer .social {
        width:4vh;
        margin:1.2vh 0.6vw 0 0;
        transition:all .5s ease;
        display:inline-block;
    }
    #footer .social:hover {
        width:5vh;
        margin:0.22vh 0.6vw 0 0;
        opacity:0.6;
        box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
    }
}
