@charset "UTF-8";
/*
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */
html,
body {
    background-color:transparent;
}
 body::after {
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:
        url(../images/tab000BackgroundImage-min.png)
        url(../images/tab001BackgroundImage-min.png)
        url(../images/tab002BackgroundImage-min.png)
        url(../images/tab002mBackgroundImage-min.png)
        url(../images/tab003BackgroundImage-min.png)
        url(../images/tab004BackgroundImage-min.png)
        url(../images/tab005BackgroundImage-min.png)
        url(../images/tab006BackgroundImage-min.png)
        url(../images/tab006mBackgroundImage-min.png)
        url(../images/tab007BackgroundImage-min.png)
        url(../images/speakers/AnnaPaolaFrade-min.png)
        url(../images/speakers/BelPimenta-min.png)
        url(../images/bruna-leo-min.png)
        url(../images/speakers/DaniMello-min.png)
        url(../images/speakers/FernandaSimon-min.png)
        url(../images/francesca-giobbi-min.png)
        url(../images/speakers/GeorgiaAmaral-min.png)
        url(../images/speakers/IsabelleJabour-min.png)
        url(../images/speakers/JoaoMaia-min.png)
        url(../images/speakers/MariaChristinaMendesCaldeira-min.png)
        url(../images/speakers/RicardoGomes-min.png)
        url(../images/speakers/RodrigoVertulo-min.png)
        url(../images/speakers/SandroVita-min.png)
        url(../images/speakers/TaniaVieira-min.png)
        url(../images/speakers/ValeriaMattoso-min.png)
        url(../images/speakers/AndreKok-min.png)
        url(../images/speakers/CelinaHissa-min.png)
        url(../images/speakers/GabrielMayr-min.png)
        url(../images/speakers/MarianelaMirpuri-min.png)
        url(../images/speakers/RobertaVieira-min.png)
        url(../images/speakers/RodrigoMuller-min.png)
        url(../images/speakers/RosiOrozco-min.png)
        url(../images/speakers/MarcioJoseFelipe-min.png)
        url(../images/speakers/RaphaelKling-min.png);
}
h1 {
    font-size:4vh;
    margin-bottom:0;
}
.h2,h2 {
    font-size:2.4vh;
    font-weight:600;
}
.container-fluid,
.col-xl-6 {
    padding-right:0;
    padding-left:0;
}
.navbar {
    background:var(--gray0);
    /* background:rgba(65, 62, 62, 0.5); */
}
.navbar-brand {
    width:28vh;
}
.dropdown-menu {
    background:rgba(65, 62, 62, 0.5);
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    font-size:1.4vh;
    text-shadow:unset;
}
.nav-link-btn {
    background-color:var(--gray1);
}
#tab001 {
    background-image:url(../images/tab001BackgroundImage-min.png);
    background-color:var(--gray0);
}
#tab002 {
    background-image:url(../images/tab002BackgroundImage-min.png);
    background-color:#e6e8e6;
}
#tab003 {
    background-image:url(../images/tab003BackgroundImage-min.png);
    background-color:#bf916b;
}
#tab004 {
    background-image:url(../images/tab004BackgroundImage-min.png);
    background-color:#e7eaf4;
}
#tab005 {
    background-image:url(../images/tab002mBackgroundImage-min.png);
    background-color:#e6e8e6;
}
#tab006 {
    background-image:url(../images/tab006BackgroundImage-min.png);
    background-color:#48abc0;
}
#tab007 {
    background-image:url(../images/tab002mBackgroundImage-min.png);
    background-color:#e6e8e6;
}
#tab001,
#tab002,
#tab003,
#tab004,
#tab005,
#tab006,
#tab007 {
    height:100vh;
    overflow:hidden;
    background-repeat:no-repeat;
    background-size:cover;
    background-position:top center;
}
#tab001,
#tab002,
#tab003,
#tab004,
#tab005,
#tab006,
#tab007 {
    padding:11.5vh 0 0 0;
}
.stageTab1-1,
.stageTab1-2,
.stageTab2-1,
.stageTab2-2,
.stageTab3-1,
.stageTab3-2,
.stageTab4-1,
.stageTab4-2,
.stageTab5-1,
.stageTab5-2,
.stageTab6-1,
.stageTab6-2,
.stageTab7-1,
.stageTab7-2 {
    text-align:center;
    background:rgba(255, 255, 255, 0.6);
}
.stageTab1-2,
.stageTab2-2,
.stageTab3-2,
.stageTab4-2,
.stageTab5-1,
.stageTab5-2,
.stageTab6-2,
.stageTab7-1,
.stageTab7-2 {
    background:transparent;
}
.wrapTabLeft,
.wrapTabRight {
    width:95%;
    height:85vh;
    padding:0 2vh 0 2vh;
    margin:2vh auto;
    text-align:center;
    align-items:end;
    display:inline-grid;
}
/* #tab001 .wrapTabLeft,
#tab001 .wrapTabLeft a {
    color:white;
} */
#tab005 .wrapTabLeft {
    padding:0;
}
#tab001 .wrapTabRight,
#tab002 .wrapTabRight,
#tab003 .wrapTabRight,
#tab004 .wrapTabRight,
#tab005 .wrapTabRight,
#tab006 .wrapTabRight,
#tab007 .wrapTabRight {
    color:white;
    text-align:right;
    justify-content:right;
}
#tab001 .wrapTabRight,
#tab002 .wrapTabRight,
#tab003 .wrapTabRight,
#tab004 .wrapTabRight,
#tab005 .wrapTabRight,
#tab006 .wrapTabRight,
#tab007 .wrapTabRight {
    color:black;
}
.cie {
    width:20vh;
}
.fade {
    transition:opacity .15s linear;
}
.fade:not(.show) {
    opacity:0;
    transition:opacity .15s linear;
}
#card1,
#card1Gray {
    position:relative;
    top:30px;
    width:45vh;
    height:22vh;
    padding:6vh;
    margin:0 22vh 0 0;
    border:0.3vh solid var(--gray5);
    background: rgba(255, 255, 255, 0.6);
    text-align:left;
    justify-content:center;
    align-items:center;
    display:inline-grid;
}
#card1Gray {
    border:0.3vh solid var(--gray1);
}
#card1:after,
#card1:before,
#card1Gray:after,
#card1Gray:before {
    position:absolute;
    top:-4.5vh;
    right:unset;
    bottom:unset;    
    left:-3vh;
    width:10vh;
    height:8vh;
    background-color:transparent;
    text-align:left;
    justify-content:center;
    align-items:center;
    display:inline-grid;
    content:url("../images/valoresCard7Symbol1white.svg");
}
#card1Gray:after,
#card1Gray:before {
    content:url("../images/valoresCard7Symbol1.svg");
}
#card1:after,
#card1Gray:after {
    top:unset;
    right:-3vh;
    bottom:-5vh;
    left:unset;
    content:url("../images/valoresCard7Symbol2white.svg");
}
#card1Gray:after {
    content:url("../images/valoresCard7Symbol2.svg");
}
.speakerStage {
    width:100%;
    height:60vh;
    overflow-y:auto;
}
.speakerCard {
    font-size:80%;
    color:var(--gray1);
    width:21vh;
    height:41vh;
    margin:0.7vh 0.5vh 3vh 0.5vh;
    border-radius:0 20px 0 20px;
    background-color:var(--gray4);
    cursor:pointer;
    display:inline-grid;
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
    transition:all .5s ease;
}
.speakerCard:hover {
    color:var(--azul);
    width:23vh;
    height:43vh;
    cursor:pointer;
    display:inline-grid;
    box-shadow:6px 6px 6px rgba(0, 0, 0, 0.25);
}
.photo img {
    width:100%;
    border-radius:0 20px 0 0;
}
.name {
    width:100%;
    padding:0.5vh;
    font-weight:900;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
}
.title {
    width:100%;
    padding:0.5vh;
}
.location {
    width:100%;
    padding:0.5vh;
}

#NOMEdoMODAL .pic {
    background-image:url("../images/speakers/speakerPlaceHolder.png");
}
#RaphaelKling .pic {
    background-image:url("../images/speakers/RaphaelKling-min.png");
}
#MarcioJoseFelipe .pic {
    background-image:url("../images/speakers/MarcioJoseFelipe-min.png");
}
#AndreKok .pic {
    background-image:url("../images/speakers/AndreKok-min.png");
}
#CelinaHissa .pic {
    background-image:url("../images/speakers/CelinaHissa-min.png");
}
#GabrielMayr .pic {
    background-image:url("../images/speakers/GabrielMayr-min.png");
}
#MarianelaMirpuri .pic {
    background-image:url("../images/speakers/MarianelaMirpuri-min.png");
}
#RobertaVieira .pic {
    background-image:url("../images/speakers/RobertaVieira-min.png");
}
#RodrigoMuller .pic {
    background-image:url("../images/speakers/RodrigoMuller-min.png");
}
#RosiOrozco .pic {
    background-image:url("../images/speakers/RosiOrozco-min.png");
}
#AnnaPaolaFrade .pic {
    background-image:url("../images/speakers/AnnaPaolaFrade-min.png");
}
#BelPimenta .pic {
    background-image:url("../images/speakers/BelPimenta-min.png");
}
#BrunaLeo .pic {
    background-image:url("../images/bruna-leo-min.png");
}
#DaniMello .pic {
    background-image:url("../images/speakers/DaniMello-min.png");
}
#FernandaSimon .pic {
    background-image:url("../images/speakers/FernandaSimon-min.png");
}
#FrancescaGiobbi .pic {
    background-image:url("../images/francesca-giobbi-min.png");
}
#GeorgiaAmaral .pic {
    background-image:url("../images/speakers/GeorgiaAmaral-min.png");
}
#IsabelleJabour .pic {
    background-image:url("../images/speakers/IsabelleJabour-min.png");
}
#JoaoMaia .pic {
    background-image:url("../images/speakers/JoaoMaia-min.png");
}
#MariaChristinaMendesCaldeira .pic {
    background-image:url("../images/speakers/MariaChristinaMendesCaldeira-min.png");
}
#RicardoGomes .pic {
    background-image:url("../images/speakers/RicardoGomes-min.png");
}
#RodrigoVertulo .pic {
    background-image:url("../images/speakers/RodrigoVertulo-min.png");
}
#SandroVita .pic {
    background-image:url("../images/speakers/SandroVita-min.png");
}
#TaniaVieira .pic {
    background-image:url("../images/speakers/TaniaVieira-min.png");
}
#ValeriaMattoso .pic {
    background-image:url("../images/speakers/ValeriaMattoso-min.png");
}
#NOMEdoMODAL .pic,
#RaphaelKling .pic,
#MarcioJoseFelipe .pic,
#AndreKok .pic,
#CelinaHissa .pic,
#GabrielMayr .pic,
#MarianelaMirpuri .pic,
#RobertaVieira .pic,
#RodrigoMuller .pic,
#RosiOrozco .pic,
#AnnaPaolaFrade .pic,
#BelPimenta .pic,
#BrunaLeo .pic,
#DaniMello .pic,
#FernandaSimon .pic,
#FrancescaGiobbi .pic,
#GeorgiaAmaral .pic,
#IsabelleJabour .pic,
#JoaoMaia .pic,
#MariaChristinaMendesCaldeira .pic,
#RicardoGomes .pic,
#RodrigoVertulo .pic,
#SandroVita .pic,
#TaniaVieira .pic,
#ValeriaMattoso .pic {
    height:100vh;
    background-repeat:no-repeat;
    background-position:center center;
    background-size:cover;
}
#tab005 .modal-fullscreen {
    width:80vw;
    border:0;
    float:right;
}
#tab005 .modal.fade .modal-dialog {
    right:-50%;
    transition:all .5s ease;
}
#tab005 .modal.fade.show .modal-dialog {
    right:0;
    transition:all .5s ease;
}
#tab005 .modal-content {
    background-color:transparent;
}
#tab005 .modal-content .modal-body {
    color:var(--gray1);
    padding:0;
    background-color:var(--gray3);
    overflow-y:unset;
}
#tab005 .wrapmodal {
    padding:3vh 6vh;
    height:85vh;
}
#tab005 .pvideo {
    position:relative;
    top:-45vh;
    text-align:center;
    width:100%;
    background-color:var(--gray3);
}
#tab005 .pvideo iframe {
    width:100%;
    height:45vh;
}
@media (max-width:1024px) {
    .container-fluid,
    .col-xl-6 {
        padding-right:calc(var(--bs-gutter-x) * .5);
        padding-left:calc(var(--bs-gutter-x) * .5);
    }
    #tab001,
    #tab002,
    #tab003,
    #tab004,
    #tab005,
    #tab006,
    #tab007 {
        background-image:unset;
        overflow-y:scroll;
    }
    #tab001 .wrapTabLeft,
    #tab002 .wrapTabLeft,
    #tab003 .wrapTabLeft,
    #tab004 .wrapTabLeft,
    #tab005 .wrapTabLeft,
    #tab006 .wrapTabLeft,
    #tab007 .wrapTabLeft,
    #tab001 .wrapTabRight,
    #tab002 .wrapTabRight,
    #tab003 .wrapTabRight,
    #tab004 .wrapTabRight,
    #tab005 .wrapTabRight,
    #tab006 .wrapTabRight,
    #tab007 .wrapTabRight {
        width:100%;
        height:130vh;
    }
    #card1,
    #card1Gray {
        top:0;
        width:60%;
        height:20vh;
        padding:5vh;
        margin:0 auto;
    }
    #tab005 .modal-fullscreen {
        width:100%;
    }
}
@media (max-width:576px) {
    h2 {
        font-size:3vh;
    }
    .smallT,
    .medT {
        font-size:2vh;
    }
    .dropdown-item,
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active {
        font-size:3vh;
        padding:2vh 2vw 2vh 2vw;
    }
    #tab001,
    #tab002,
    #tab005,
    #tab006,
    #tab007 {
        background-image:unset;
        background-color:transparent;
    }
    #tab001::before,
    #tab002::before,
    #tab005::before,
    #tab006::before,
    #tab007::before {
        content:"";
        position:absolute;
        width:100%;
        height:100vh;
        top:0;
        left:0;
        z-index:-1;
        background:url(../images/tab001BackgroundImage-min.png);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:top center;
        transform: rotate(180deg);
    }
    #tab002::before {
        background:url(../images/tab002mBackgroundImage-min.png);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:top center;
    }
    #tab005::before {
        background:url(../images/tab002mBackgroundImage-min.png);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:top center;
    }
    #tab006::before {
        background:url(../images/tab006mBackgroundImage-min.png);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:top center;
    }
    #tab007::before {
        background:url(../images/tab002mBackgroundImage-min.png);
        background-repeat:no-repeat;
        background-size:cover;
        background-position:top center;
    }
    #tab001 .wrapTabLeft,
    #tab002 .wrapTabLeft,
    #tab003 .wrapTabLeft,
    #tab004 .wrapTabLeft,
    #tab005 .wrapTabLeft,
    #tab006 .wrapTabLeft,
    #tab007 .wrapTabLeft,
    #tab001 .wrapTabRight,
    #tab002 .wrapTabRight,
    #tab003 .wrapTabRight,
    #tab004 .wrapTabRight,
    #tab005 .wrapTabRight,
    #tab006 .wrapTabRight,
    #tab007 .wrapTabRight {
        width:100%;
        height:180vh;
    }
    #tab004 .wrapTabLeft,
    #tab004 .wrapTabRight {
        height:250vh;
    }
    #tab006 .wrapTabLeft,
    #tab006 .wrapTabRight {
        height:210vh;
    }
    #card1,
    #card1Gray {
        top:0;
        width:95%;
        height:30vh;
        padding:3vh;
        margin:0 auto;
    }
    .speakerStage {
        height:80vh;
    }
    .speakerCard {
        width:75%;
        height:auto;
    }
    #tab005 .wrapmodal {
        height:auto;
    }
}