/*!
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */

.banner {
    width:100%;
    margin-top:-10px;
}
.ht-210 {
    height:210px;
}
#uniaoTabs.nav {
    width:816px;
    margin:0 auto;
}
#uniaoTabs.nav-tabs {
    border-bottom:0;
    margin-bottom:3rem;
}
.nav-tabs-responsive {overflow:auto;}
#uniaoTabs.nav-tabs>li {
    width:18%;
    margin-left:8px;
    margin-right:8px;
}
#uniaoTabs.nav-tabs>li>a,
#uniaoTabs.nav-tabs>li>a:focus,
#uniaoTabs.nav-tabs>li>a:hover,
#uniaoTabs.nav-tabs>li.active>a,
#uniaoTabs.nav-tabs>li.active>a:focus,
#uniaoTabs.nav-tabs>li.active>a:hover {
    color:black;
    border-bottom:0;
    background-color:transparent;
    height:15rem;
    border-radius:10px;
}
#uniaoTabs.nav-tabs>li.active>a,
#uniaoTabs.nav-tabs>li.active>a:focus,
#uniaoTabs.nav-tabs>li.active>a:hover {
    font-weight:bold;
}
#uniaoTabs li a img {
    width:12rem;
    margin:0 auto;
}
#economia-tab {background-color:#fdfe00!important;}
#economia-tab:hover {background-color:#b1b200!important;}
#humano-tab {background-color:#ff3658!important;}
#humano-tab:hover {background-color:#b2263e!important;}
#antropico-tab {background-color:#13c2a5!important;}
#antropico-tab:hover {background-color:#0d8873!important;}
#tecnologia-tab {background-color:#7396d8!important;}
#tecnologia-tab:hover {background-color:#506997!important;}
#qualidade-tab {background-color:#cb98fd!important;}
#qualidade-tab:hover {background-color:#8e6ab1!important;}
@media (max-width:320px) {
    .ht-210 {
        height:100px;
    }
}