/*!
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */

.banner {
    width:100%;
    margin-top:-10px;
}
.ht-210 {
    height:210px;
}
#uniaoTabs.nav {
    width:90%;
    margin:0 auto 12rem auto;
}
#uniaoTabs.nav-tabs>li {
    width:20%;
}
#uniaoTabs li a img {
    width:12rem;
    margin:0 auto;
}