/*!
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */
.copyLink {
    max-width: 300px!important;
}
.fc-box {
    padding:8px 48px 8px 8px!important;
}
.bg-light {
    background-color:ffffff;
    background:unset!important;
}
.bg-dark {
    background-color:#000000!important;
    background:#000000!important;
}
.banner {
    width:100%;
    margin-top:-10px;
}
.pr {
    position:relative;
}
.m-0 {
    margin:0 auto;
}
.mt-5 {
    margin-top:5px!important;
}
.mt-10 {
    margin-top:10px!important;
}
.mt-20 {
    margin-top:20px!important;
}
.mt-30 {
    margin-top:30px!important;
}
.mt-40 {
    margin-top:40px!important;
}
.mb-5 {
    margin-bottom:-5px!important;
}
.mb-10 {
    margin-bottom:-10px!important;
}
.mb-20 {
    margin-bottom:-20px!important;
}
.mb-30 {
    margin-bottom:-30px!important;
}
.mb-40 {
    margin-bottom:-40px!important;
}
.pad-0 {
    padding:0!important;
}
.pad-10 {
    padding:10px;
}
.pad-20 {
    padding:20px;
}
.top-0 {
    top:0;
}
.top-5 {
    top:-5px;
}
.top-10 {
    top:-10px;
}
.top-20 {
    top:-20px;
}
.top-30 {
    top:-30px;
}

#uniaoTabs.nav {
    width:820px;
    margin:0 auto;
}
#uniaoTabs.nav-tabs {
    border-bottom:0;
    margin-bottom:3rem;
}
.nav-tabs-responsive {overflow:auto;}
#uniaoTabs.nav-tabs>li {
    width:18%;
    margin-left:8px;
    margin-right:8px;
}
#uniaoTabs.nav-tabs>li>a,
#uniaoTabs.nav-tabs>li>a:focus,
#uniaoTabs.nav-tabs>li>a:hover,
#uniaoTabs.nav-tabs>li.active>a,
#uniaoTabs.nav-tabs>li.active>a:focus,
#uniaoTabs.nav-tabs>li.active>a:hover {
    color:black;
    border-bottom:0;
    background-color:transparent;
    height:15rem;
    border-radius:10px;
}
#uniaoTabs.nav-tabs>li.active>a,
#uniaoTabs.nav-tabs>li.active>a:focus,
#uniaoTabs.nav-tabs>li.active>a:hover {
    font-weight:bold;
}
#uniaoTabs li a img {
    width:12rem;
    margin:0 auto;
}
#economico-tab {background-color:#fdfe00!important;}
#economico-tab:hover {background-color:#b1b200!important;}
#humano-tab {background-color:#ff3658!important;}
#humano-tab:hover {background-color:#b2263e!important;}
#antropico-tab {background-color:#13c2a5!important;}
#antropico-tab:hover {background-color:#0d8873!important;}
#tecnologico-tab {background-color:#7396d8!important;}
#tecnologico-tab:hover {background-color:#506997!important;}
#qualidade-tab {background-color:#cb98fd!important;}
#qualidade-tab:hover {background-color:#8e6ab1!important;}
.wow_srch_fields:nth-child(1),
.wow_srch_fields:nth-child(2),
.wow_srch_fields:nth-child(3),
.wow_srch_fields:nth-child(4){
    border-right:1px solid #eaeaea;
}
.mediador-float,
.mediator-float-left {
    width:100%;
    margin:0 auto;
    background-color: transparent;
    display:inline-flex;
}
.mediator-float-left {
    height:45px;
    display:block;
}
.avatar-float {
    top:-3rem;
}
.avatar-relative {
    position:relative;
}
.info-float {
    position:relative;
    top:-1.5rem;
}
.hexagon,
.hexagon-min {
    width:35px;
    height:70px;
    overflow:hidden;
    visibility:hidden;
    -webkit-transform:rotate(120deg);
       -moz-transform:rotate(120deg);
        -ms-transform:rotate(120deg);
         -o-transform:rotate(120deg);
            transform:rotate(120deg);
    margin:0 auto;
    border:0px solid transparent;
    display:inline-block;
    cursor:unset;
    z-index:1;
}
.hexagon-min {
    width:25px;
    height:50px;
}
.hexagon-in {
    overflow:hidden;
    width:100%;
    height:100%;
    -webkit-transform:rotate(-60deg);
       -moz-transform:rotate(-60deg);
        -ms-transform:rotate(-60deg);
         -o-transform:rotate(-60deg);
            transform:rotate(-60deg);
}
.mediador {
    width:100%;
    height:100%;
    background-repeat:no-repeat;
    background-position:50%;
    background-size:100%;
    visibility:visible;
    -webkit-transform:rotate(-60deg);
       -moz-transform:rotate(-60deg);
        -ms-transform:rotate(-60deg);
         -o-transform:rotate(-60deg);
            transform:rotate(-60deg);
}
.mediador-economico {
    background-image:url(../images/icon-economico.png);
    background-color:#fdfe00;
}
.mediador-economico:hover {
    background-image:url(../images/icon-economico.png);
    background-color:#b1b200;
}
.mediador-humano {
    background-image:url(../images/icon-humano.png);
    background-color:#ff3658;
}
.mediador-humano:hover {
    background-image:url(../images/icon-humano.png);
    background-color:#b2263e;
}
.mediador-antropico {
    background-image:url(../images/icon-antropico.png);
    background-color:#13c2a5;
}
.mediador-antropico:hover {
    background-image:url(../images/icon-antropico.png);
    background-color:#0d8873;
}
.mediador-tecnologico {
    background-image:url(../images/icon-tecnologico.png);
    background-color:#7396d8;
}
.mediador-tecnologico:hover {
    background-image:url(../images/icon-tecnologico.png);
    background-color:#506997;
}
.mediador-qualidade {
    background-image:url(../images/icon-qualidade.png);
    background-color:#cb98fd;
}
.mediador-qualidade:hover {
    background-image:url(../images/icon-qualidade.png);
    background-color:#8e6ab1;
}
.mediador-off {
    background-color:transparent;
}
.mediador-off:hover {
    background-color:transparent;
}
.wow_side_representant {
    text-align:left;
    background-color:#e7bbff;
    border:1px solid #fff6df;
    padding:20px 15px;
}
.wow_side_representant .sidebar-title-back,
.wow_side_representant .list-group-item{
    background-color:transparent;
}
.wow_side_representant .time {
    color:#ffffff;
}
.representant-input input {
    background-color:#ffffff!important;
}
.representant-input  button {
    position: absolute;
    top: 4px;
    right: 4px;
    line-height: 16px;
    height: 36px;
    border-radius: 3px;
}
.wow_side_usrs {
    width:49%;
}
.table-responsive-afiliados {
    width:100%;
    overflow-y:hidden;
    overflow-x:auto;
}
.afiliados-pull .pull-left span {
    display: inline-block;
    margin:25px 0 0 20px;
}
.pagination-afiliados li a {
    color:#555555;
    font-weight:bold;
    height:32px;
    border:none;
}
.grupos_editar_content {
    padding:18px 65px 20px 20px;
}
.wo_setting_sidebar_mockup {
    top:65px;
    right:21%;
}
.wo_setting_sidebar_mockup ul .list-group-item {
    background:#03A9F4!important;
}
.convidarParaGrupo .row {
    margin-right:0;
    margin-left:0;
}
.wow_main_blogs_bg.head {
    height:154px;
}
.share {
    position:absolute;
    z-index:9;
    top:8px;
    right:8px!important;
}
.product-share {
    text-align:center;
    font-weight:500;
    font-size:12px;
    margin-top:-5px;
    margin-bottom:15px;
}
.chat-container-group {
    color:#3f3f3f;
    width:250px;
    padding:0 0 0 20px;
}
.chat-container-group .wow_chat_search {
    padding:0;
}
.chat-container-group .wow_chat_search input {
    width:100%;
    background-color:rgba(0, 0, 0, 0.06);
    border-radius:7px;
    height:32px;
    border:0;
    padding:1px 12px;
    outline:0;
}
.btn-quiz {
    width:100%;
    font-family:unset;
    line-height:26px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:normal;
}
.quiz-economic {
    background-color:#fdfe00;
}
.quiz-economic:hover {
    background-color:#b1b200;
}
.quiz-human {
    background-color:#ff3658;
}
.quiz-human:hover {
    background-color:#b2263e;
}
.quiz-anthropic {
    background-color:#13c2a5;
}
.quiz-anthropic:hover {
    background-color:#0d8873;
}
.quiz-technological {
    background-color:#7396d8;
}
.quiz-technological:hover {
    background-color:#506997;
}
.quiz-quality {
    background-color:#cb98fd;
}
.quiz-quality:hover {
    background-color:#8e6ab1;
}
.quiz {
    font-size:16px;
    text-align:center;
}
.quiz-head {
    padding:20px 20px 40px 20px;
    background:transparent;
    z-index:1;
}
.quiz-head .close {
    color: black;
}
.quiz h1 {
    font-size:23px;
    font-weight:900;
    text-transform:uppercase;
}
.quiz-caption {
    position:unset;
    text-shadow:unset;
    color:unset;
}
.quiz-caption h1,
.quiz-caption h2{
    font-size:23px;
    font-weight:900;
    text-transform:uppercase;
}
.quiz-caption h2 {
    font-size:18px;
}
.quiz-caption [type=radio] { 
  position:absolute;
  opacity:0;
  width:0;
  height:0;
}
.quiz-caption [type=radio] + img {
    width:100%;
    cursor:pointer;
    display:block;
}
.quiz-caption [type=radio]:checked + img {
  background-color:#e7bbff;
  border-radius:6px;
  padding:0 6px 0 6px;
}
.quiz-caption label {
    font-size:12px;
    width:80px;
    margin:20px;
    display:inline-grid;
}
.quiz-caption label:hover {
    opacity:0.7;
}
.quiz .carousel-control.left,
.quiz .carousel-control.right {
    background-image: unset;
    background-image: unset;
    background-image: unset;
    background-image: unset;
}
.carousel-control.slick-next svg.feather,
.carousel-control.slick-prev svg.feather {
    margin-top:10px;
}
.quizResult.table {
    font-size:3rem;
    width:600px;
    margin:0 auto;
}
.quizResult tr td img {
    width:80px;
}
#carrouselAdvertising .carousel-indicators {
    bottom: -30px;
}
#carrouselAdvertising .carousel-indicators li {
    background-color: #fff;
    border: 1px solid #666;
}
#carrouselAdvertising .carousel-indicators li.active {
    background-color: #666;
    border: 1px solid #666;
}


/* Small devices (tablets, 768px and up) */
@media (min-width:768px) {

}
/* Medium devices (desktops, 992px and up) */
@media (min-width:992px) {

}
/* Large devices (large desktops, 1280px and up) */
@media (min-width:1280px) {

}