@charset "UTF-8";
/*
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */
@font-face {
    font-family:"StagSans-Bold";
    src:url("../fonts/StagSans-Bold.woff") format('woff'),url("../fonts/StagSans-Bold.woff") format("woff");
    font-weight:bold;
}
:root {
    --cor01:#000000;
    --cor02:#b5934c;
    --gray0:#262626;
    --gray1:#413e3e;
    --gray2:#626060;
    --gray3:#c4c4c4;
    --gray4:#f4f4f4;
    --gray5:#f6f6f6;
}
html,
body {
    position:relative;
    font-family:'Montserrat', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size:calc(0.6rem + 1vh);
    font-weight:400;
    line-height:120%;
    color:var(--cor01);
    text-align:center;
    background-image:url(../images/mbp-underconstruction-background-min.png);
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    overflow-x:hidden;
    overflow-y:auto;
}
body::after {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content:url(../images/mbp-underconstruction-background-min.png);
}
.navHide,
.navShow {
    top:-150vh;
    transition:all .15s ease-in-out;
}
.navShow {
    top:0;
    transition:all .15s ease-in-out;
}
.navbar {
    padding:0.6vh 1.2vw 0.6vh 1.2vw;
    background-color:var(--gray5);
}
.navbar-brand {
    width:8vh;
    padding:0;
    margin:1vh 0;
    font-size:unset;
    text-decoration:unset;
    white-space:nowrap;
}
.flag {
    width:3vh;
    border-radius:0.3vw;
    display:inline-block;
}
.dropdown-menu {
    font-size:unset;
    padding:0;
    background-color:var(--gray5);
    border:0;
    margin:0 auto!important;
}
.dropdown-menu[data-bs-popper] {
    top:120%;
}
.dropdown-item .flag {
    width:3vh;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    position:relative;
    top:0;
    font-size:1.8vh;
    color:var(--gray4);
    padding:1.2vh 1.6vh;
    margin:0 auto;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    display:inline-block;
    white-space:nowrap;
    transition:all .5s ease;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color:var(--amarelo)!important;
    text-decoration:none;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:var(--azul);
    top:-0.6vh;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color:var(--verde);
}
.nav-link-btn {
    font-family:'Montserrat', sans-serif;
    border-radius:2.6vh;
    background-color:var(--gray3);
}
.dropdown-item {
    position:relative;
    top:0;
    font-size:1.8vh;
    color:var(--gray4);
    padding:1.2vh 1.2vh;
    margin:0 auto;
    text-shadow:0 4px 4px rgba(0, 0, 0, 0.25);
    display:inline-block;
    white-space:nowrap;
    transition:all .5s ease;
}
.dropdown-item.active,.dropdown-item:active {
    color:var(--azul);
    text-decoration:none;
    background-color:var(--gray2);
}
.dropdown-item:hover {
    color:var(--amarelo);
    top:-0.6vh;
    background-color:var(--gray2);
}
.dropdown-item:focus {
    color:var(--verde);
    background-color:var(--gray2);
}
a {
    color:white;
    text-decoration:none;
    transition:all .15s ease-in-out;
}
a:hover {
    color:var(--cor02);
    font-weight:700;
}



#carouselGrupoFrapaInstitucional {
    width:100vw;
    height:100vh;
    border:1px solid;
}
.slide {
    width:100vw;
    height:100vh;
    background-position:center bottom;
    background-repeat:no-repeat;
    background-size:cover;
}
.slide1 {background-image:url("../images/frapa-site-institucional-slide-001-min.png")}
.slide2 {background-image:url("../images/frapa-site-institucional-slide-002-min.png")}
@media (max-width: 576px) {
    .slide1 {background-image:url("../images/frapa-site-institucional-slide-001-mobile-min.png")}
    .slide2 {background-image:url("../images/frapa-site-institucional-slide-002-mobile-min.png")}
}


.btn-whats {
    position:fixed;
    right:6vh;
    bottom:6vh;
    z-index:999999999;
    display:block;
}
.btn-whats-pulse {
    position:relative;
    color:white;
    font-size:calc(0.6rem + 3vh);
    padding:15% 25%;
    border:none;
    box-shadow:0 0 0 0 rgba(0,255,0,0.2);
    border-radius:50%;
    background:#25D366;
    background-image:linear-gradient(to bottom, #25D366, #25D366);
    background-size:cover;
    background-repeat:no-repeat;
    cursor:pointer;
    animation:pulse 1.25s infinite cubic-bezier(0.16, 0, 0, 1);
}
.btn-whats-pulse:hover {
    color:white;
    animation:none;
}
@keyframes pulse {
    to {box-shadow:0 0 0 20px rgba(0,255,0,0.2);}
}
@keyframes pulse {
	0% {transform:scale(1);}
	50% {transform:scale(1.1);}
	100% {transform:scale(1);}
}
@keyframes jump {
	0% {top:0;}
	25% {top:30px;}
	75% {top:-30px;}
	100% { top: 0; }
}
@keyframes fadeIn {
    from {opacity:0;}
      to {opacity:1;}
}
@keyframes fadeOut {
    from {opacity:1;}
      to {opacity:0;}
}
@media (max-width:1024px) {}
@media (max-width:576px) {}