@charset "UTF-8";
/*!
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */
:root {
    --cor4:#413E3E;
}
.flag {
    width:25px;
    height:auto;
    border-radius:4px;
    display:inline-block;
}