@charset "UTF-8";
/*!
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */
:root {
    --cor4:#403f3f;
}

#iconFreedomeE.st0 {
    fill:var(--cor4);
}
#iconFreedomeE.st1 {
    fill:white;
}
.navbar-brand {
    width:80px;
}
.flag {
    width:25px;
    height:auto;
    border-radius:4px;
    display:inline-block;
}