@charset "UTF-8";
/*
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2021 Cristian Elvis
 */
:root {
    --cor01:#2c3d4f;
    --cor02:#8d3353;
    --cor03:#00a8c3;
    --cor04:#acacac;
    --gray0:#262626;
    --gray1:#413e3e;
    --gray2:#626060;
    --gray3:#c4c4c4;
    --gray4:#f4f4f4;
    --gray5:#f6f6f6;
}
html,
body {
    position:relative;
    font-family:'Montserrat', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size:calc(0.6rem + 1vh);
    font-weight:400;
    line-height:120%;
    color:var(--cor01);
    background-color:var(--gray5);
}
body::after {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content:url(../images/underconstruction-background-min.png);
}
a {
    color:var(--cor01);
    transition:all .15s ease-in-out;
}
a:hover {
    color:var(--cor02);
    font-weight:700;
}
.mt-50 {
    margin-top:50px;
}
#underconstruction {
    width:100vw;
    height:100vh;
    text-align:center;
    padding-top:10vh;
    background:url(../images/underconstruction-background-min.png);
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}
#underconstruction .fluid-0 {
    padding-right:0;
    padding-left:0;
}
#underconstruction .fluid-0 .row {
    --bs-gutter-x: 0;
    overflow:hidden;
}
#underconstruction .fluid-0 .row>* {
    max-width:unset;
}
#underconstruction .logotipo {
    width:30vh;
    margin-bottom:50px;
}
#underconstruction h1 {
    font-size:calc(1.2rem + 1vh);
    font-weight:700;
    text-align:start;
}
#underconstruction p {
    text-align:start;
}
#underconstruction .strip {
    width:100%;
}
@media (max-width:1024px) {

}
@media (max-width:576px) {
    #underconstruction {
        height:100%;
    }
    #underconstruction .strip {
        width:1366px;
        margin-left:50%;
        transform:translateX(-50%);
    }
}