@charset "UTF-8";
/*
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2022 Cristian Elvis
 */
@font-face {
    font-family: Afrah-Bold;
    src: url(../fonts/Afrah-Bold.woff);
}
@font-face {
    font-family: Afrah-Light;
    src: url(../fonts/Afrah-Light.woff);
}
@font-face {
    font-family: Afrah-Regular;
    src: url(../fonts/Afrah-Regular.woff);
}
@font-face {
    font-family: Afrah-Round;
    src: url(../fonts/Afrah-Round.woff);
}
@font-face {
    font-family: Afrah-Thin;
    src: url(../fonts/Afrah-Thin.woff);
}
:root {
    --cor01:#2c3d4f;
    --cor02:#8d3353;
    --cor03:#00a8c3;
    --cor04:#259a98;
    --cor05:#b9b9b9;
    --gray0:#262626;
    --gray1:#413e3e;
    --gray2:#626060;
    --gray3:#c4c4c4;
    --gray4:#f4f4f4;
    --gray5:#f6f6f6;
}
html,
body {
    position:relative;
    font-family:'Montserrat', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size:14px;
    font-weight:normal;
    line-height:120%;
    color:var(--cor01);
    text-align:center;
    overflow-x:hidden;
    scroll-behavior:smooth;
}
body::after {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content:url(../images/underconstruction-background-min.png);
}
.grid {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
h1 {
    font-family: 'Afrah-Bold';
}
.navbar {
    padding:0.6vh 1.2vw 0.6vh 1.2vw;
}
.navHide,
.navShow {
    top:0;
    background-color:transparent;
    transition:all 0.5s ease;
}
.navShow {
    top:0;
    background-color:rgba(0, 168, 195, .8);
    transition:all 0.5s ease;
}
.navbar-brand {
    width: 40vh;
    padding:0;
    margin:2vh 0;
    font-size:unset;
    text-decoration:unset;
    white-space:nowrap;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    position:relative;
    top:0;
    font-size:100%;
    color:var(--gray5);
    padding:1vh 2.5vh;
    margin:0 auto;
    display:inline-block;
    white-space:nowrap;
    transition:all 0.5s ease;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color:var(--gray5)!important;
    background-color:var(--cor02);
    border-radius:5vh;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:var(--cor02);
    top:-0.6vh;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color:var(--cor2);
}
.dropdown-menu {
    background-color:var(--gray4);
    border:0;
}
.dropdown-item {
    position:relative;
    top:0;
    font-size:100%;
    color:var(--cor01);
    padding:1vh 2.5vh;
    margin:0 auto;
    display:inline-block;
    white-space:nowrap;
    transition:all 0.5s ease;
}
.dropdown-item.active,
.dropdown-item:active {
    color:var(--gray5);
    background-color:var(--cor02);
}
.dropdown-item:hover {
    color:var(--gray5);
    top:-0.6vh;
    background-color:var(--cor03);
}
.dropdown-item:focus {
    color:var(--gray5);
    background-color:var(--cor02);
}
.dropdown-item .flag {
    width:3vh;
    border-radius:0.3vw;
    display:inline-block;
}
@media screen and (max-width:768px) {
    .navbar-brand {
        width: 30vh;
    }
    .navbar-dark .navbar-nav .nav-link,
    .navbar-dark .navbar-nav .nav-link.active {
        margin:2vh auto;
    }
    .navbar-collapse {
        padding:1vh;
        background-color:var(--cor03);
        border-radius:1vh;
    }
}
.btn-primary,
.btn-secondary,
.btn-tertiary {
    color:var(--gray5);
    padding:1vh 2.5vh;
    background-color:var(--cor03);
    border:1px dashed;
    border-color:var(--cor02);
    border-radius:5vh;
    transition:all 0.5s ease;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color:var(--gray5)!important;
    background-color:var(--cor02);
    border:1px dashed;
    border-color:var(--cor03);
}
.btn-secondary {
    background-color:var(--cor01);
    border-color:var(--cor02);
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    color:var(--gray5)!important;
    background-color:var(--cor02);
    border:1px dashed;
    border-color:var(--cor03);
}
.btn-tertiary {
    background-color:var(--cor03);
    border-color:var(--cor01);
}
.btn-tertiary:active,
.btn-tertiary:focus,
.btn-tertiary:hover {
    color:var(--gray5)!important;
    background-color:var(--cor02);
    border:1px dashed;
    border-color:var(--cor03);
}
.bt-services {
    margin-bottom:2vh;
}
.btn-close {
    font-size:100%;
    color:var(--cor03);
    position:fixed;
    top:4vh;
    right:4vh;
    width:unset;
    height:unset;
    padding:0;
    margin:0 auto;
    border:0;
    border-radius:0;
    background:unset;
    box-shadow:unset;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    transition:all 0.5s ease;
    opacity:1;
    z-index:2;
}
.btn-close:hover {
    font-size:130%;
    color:var(--cor02)!important;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.25);
}
.btn-close:active,
.btn-close:focus {
    color:var(--cor02);
}
.btn-close i {
    font-size:200%;
    margin-bottom:1vh;
}
.section001,
.section002,
.section003,
.section004,
.section005,
.section006,
.section007 {
    color: var(--gray1);
    width:100%;
    height:auto;
    padding: 20vh 3vh 20vh 3vh;
    background-color: var(--gray4);
}
/* INÍCIO */
#inicio.section001 {
    width:100%;
    height:auto;
    padding:0;
}
#inicio .section001Image001 {
    width:100%;
    height:90vh;
    background-image:url(../images/privacyup-background-inicio-section001-min.png);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
}
#inicio #carouselPrivacyupInicio .carousel-caption {
    position: absolute;
    min-height: 100%;
    top: unset;
    right:10%;
    bottom: 0;
    left: 10%;
    padding-top:1vh;
    padding-bottom:1vh;
    color:white;
    text-align:left;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#inicio .l1 {
    font-family: 'Afrah-Bold';
    font-size: 330%;
    line-height:120%;
    margin-bottom: 3vh;
}
#inicio .l2 {
    font-size: 100%;
    line-height:120%;
}
@media screen and (max-width:768px) {
    #inicio #carouselPrivacyupInicio .carousel-caption {
            top:unset;
            bottom:10%;
            min-height: unset;
            text-align:left;
    }
    #inicio .section001Image001 {
        height:100vh;
        background-position:75% 0%;
    }
}
/* QUIZ */
#quiz.section002 {
    color:var(--gray5);
    width:100%;
    height:auto;
    padding:30vh 45vh 0 45vh;
    background-color:var(--cor02);
}
#quizStart .modal-content,
#quizEnviada.section007 {
    background-image:url(../images/privacyup-background-inicio-section002-min.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
#quizStart .modal-body {
    color:var(--cor01);
}
#quizStart .modal-body .grid {
    height:90vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
    text-align:center;
}
#quizStart .btn-close {
    color:var(--gray5);
}
#quizStart .card {
    color:var(--gray1);
    width:100%;
    padding:6vh;
    margin:0 auto;
    background-color:rgba(0, 168, 195, .6);
    border:0;
    border-radius:3vh 0 3vh 0;
    display:none;
}
#quizStart .card-start {
    background-color:transparent;
}
#quizStart .card h1,
#quizStart .card-title,
#quizStart .card-text {
    color:var(--gray5);
}
#quizStart .card .card-input label {
    color:var(--gray5);
    font-family: 'Afrah-Bold';
    font-size:150%;
    padding:0;
    margin:2vh 4vh;
    cursor:pointer;
    text-transform:uppercase;
    transition:all 0.5s ease;
}
#quizStart .card .card-input label:hover {
    font-size:180%;
    color:var(--cor02);
}
#quizStart .card .card-input label [type=radio] { 
    opacity:0;
}
@media screen and (max-width:768px) {
    #quiz.section002 {
        padding:20vh 3vh;
    }
    #quizStart .card {
        padding:6vh 3vh;
    }
}
/* SOBRE NÓS */
#sobrenos.section003 {
    color:var(--cor01);
    width:100%;
    height:auto;
    padding:15vh 3vh 0 3vh;
    background:linear-gradient(0deg, var(--gray5) 70%, var(--cor02) 0%);
}
#sobrenos.section003 h1 {
    margin-top:12vh;
}
#sobrenos .statue {
    width:100%;
}
@media screen and (max-width:768px) {
    #sobrenos.section003 {
        padding: 3vh 3vh 0 3vh;
        background:unset;
        background-color:var(--gray5);
    }
}
/* SERVIÇOS */
#servicos.section004 {
    color: var(--gray5);
    width:100%;
    height:auto;
    padding: 20vh 3vh 3vh 3vh;
    background-color: var(--cor01);
}
#servicos .grid {
    padding:0 1vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
.service-modal .modal-body {
    padding:0;
}
.service-modal .banner {
    width:100%;
    height:30vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    background-color:var(--cor02);
}
.service-modal .banner h1 {
    color:var(--gray5);
}
.service-modal .btn-close {
    color:var(--gray5);
}
.service-modal .btn-close:hover {
    color:var(--cor03)!important;
}
.service-modal .btn-close:active,
.service-modal .btn-close:focus {
    color:var(--gray5);
}
.service-modal .grid-left {
    color:var(--cor01);
    padding:5vh;
    margin: 0 10vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    text-align:start;
}
.service-modal .grid-left a {
    color:var(--gray1)!important;
    text-align: left;
}
.service-modal .grid-left a:hover {
    color:var(--cor01)!important;
}
.service-modal .grid-right {
    padding:5vh;
    margin: 0 10vh;
    background-color: var(--cor03);
    border-radius: 0 0 2vh 2vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    text-align:center;
}
.service-modal .grid-right h3,
.service-modal .grid-right p {
    text-align:start;
}
.service-modal .form-control,
.service-modal .form-floating>label {
    color:var(--gray1)!important;
}
.service-modal .form-control:focus {
    background-color:var(--gray4);
    border-color:var(--gray4);
    outline:0;
    box-shadow:0 0 0 0 rgba(0,0,0,0);
}
#lgpd.section005 {
     color: var(--gray5);
     width:100%;
     height:auto;
     padding: 0 3vh 20vh 3vh;
     background-color: var(--cor01);
}
#lgpd .carousel-indicators {
    bottom:-7vh;
}
#lgpd .carousel-item {
    height:30vh;
}
#service01 {
    background:url(../images/service1background-min.png);
}
#service02 {
    background:url(../images/service2background-min.png);
}
#service03 {
    background:url(../images/service3background-min.png);
}
#service04 {
    background:url(../images/service4background-min.png);
}
#service05 {
    background:url(../images/service5background-min.png);
}
#service06 {
    background:url(../images/service6background-min.png);
}
#service07 {
    background:url(../images/service7background-min.png);
}
#service08 {
    background:url(../images/service8background-min.png);
}
#service09 {
    background:url(../images/service9background-min.png);
}
#service10 {
    background:url(../images/service10background-min.png);
}
#service11 {
    background:url(../images/service11background-min.png);
}
#service12 {
    background:url(../images/service12background-min.png);
}
#service13 {
    background:url(../images/service13background-min.png);
}
#service14 {
    background:url(../images/service14background-min.png);
}
#service15 {
    background:url(../images/service15background-min.png);
}
#service01,
#service02,
#service03,
#service04,
#service05,
#service06,
#service07,
#service08,
#service09,
#service10,
#service11,
#service12,
#service13,
#service14,
#service15 {
    width:30vh;
    height:30vh;
    color:var(--white);
    font-weight:400;
    text-decoration:none;
    padding:2.5vh 5vh;
    margin:0 auto;
    background-position:center center;
    background-repeat:no-repeat;
    background-size: 100%;
    display: inline-flex;
    flex-direction:column;
    justify-content: start;
    align-items:center;
    cursor:pointer;
    transition:all 0.5s ease;
}
#service01:hover,
#service02:hover,
#service03:hover,
#service04:hover,
#service05:hover,
#service06:hover,
#service07:hover,
#service08:hover,
#service09:hover,
#service10:hover,
#service11:hover,
#service12:hover,
#service13:hover,
#service14:hover,
#service15:hover {
    
    text-decoration:underline;
}
@media screen and (max-width:768px) {
    #servicos.section004 {
        padding: 15vh 1vh 1vh 1vh;
    }
    #servicos .text-start h1.mt-5,
    .bt-services {
        text-align:center!important;
    }
    .service-modal .grid-left {
        width:100%;
        padding: 2vh;
        margin: 0 auto;
    }
    .service-modal .grid-right {
        top:0;
        width:100%;
        padding: 2vh;
        margin: 0 auto 2vh auto;
    }
}
/* PUBLICAÇÕES */
#publicacoes.section006 {
    color: var(--cor1);
    width:100%;
    height:auto;
    padding: 15vh 3vh 15vh 3vh;
    background-color: var(--gray5);
}
#publicacoes .card {
    width:30vh;
    margin:1vh;
    border-radius:1vh;
    display: inline-flex;
}
#publicacoes .card-body {
    color:var(--gray5);
    text-align: start;
    background-color: var(--cor01);
    border-bottom-left-radius:1vh;
    border-bottom-right-radius:1vh;
}
#publicacoes .card-img, .card-img-top {
    border-top-left-radius:1vh;
    border-top-right-radius:1vh;
}
.public-modal .card-news-content {
    padding: 3vh;
    background-color: var(--gray4);
    border-radius:1vh 1vh 0 0;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.25);
}
.public-modal .card-news-share {
    padding: 2vh;
    color:var(--gray5);
    background-color: var(--cor01);
    border-radius:0 0 1vh 1vh;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: center;
}
.card-news-share .social-icon {
    font-size:150%;
    color:var(--gray5);
    text-decoration:none;
    margin:1vh;
    transition:all 0.5s ease;
}
.card-news-share     .social-icon:hover {
    color:var(--cor02);
}

.public-modal .title-img-top {
    width: 100%;
    margin: 0 auto;
    border-radius:1vh;
}
.public-modal .card-news-quiz {
    color: var(--gray5);
    padding: 3vh;
    background-color: var(--cor02);
    border-radius:1vh;
}
.public-modal .card-news-quiz h1 {
    font-size: 140%;
}
.public-modal .gadget-news {
    padding: 3vh;
    margin:0 0 0 3vh;
    background-color: var(--gray4);
    border-radius:1vh;
    box-shadow:2px 2px 2px rgba(0, 0, 0, 0.25);
    text-align: start;
}
.public-modal .gadget-news h3 {
    font-weight: bold;
}

@media screen and (min-width:576px) {
    #publicacoes .carousel-inner {
        height: 56vh;
    }
}
@media screen and (max-width:576px) {
    #publicacoes .carousel-inner {
        height: 56vh;
    }
    #publicacoes .card {
        margin:1vh auto;
    }
    .public-modal .gadget-news {
        margin:2vh auto;
    }
}
/* CONTATO */
#contato.section007,
#mensagemEnviada.section007,
#quizEnviada.section007 {
    color:var(--gray5);
    width:100%;
    height:auto;
    padding:15vh 3vh;
    background-color:var(--cor03);
}
#mensagemEnviada.section007,
#quizEnviada.section007 {
    height:100vh;
    padding:3vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#contato .grid,
#mensagemEnviada .grid,
#quizEnviada .grid {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#mensagemEnviada .brand,
#quizEnviada .brand {
    width:30vh;
}
#orcamento a,
#contato a,
#mensagemEnviada a,
#quizEnviada a {
    font-size:100%;
    color:var(--gray5);
    text-decoration:none;
    margin:1vh;
    transition:all 0.5s ease;
}
#orcamento a:hover,
#contato a:hover,
#mensagemEnviada a:hover,
#quizEnviada a:hover {
    color:var(--cor02);
}
#orcamento .btn-secondary,
#contato .btn-secondary {
    text-align:center;
    margin:0 auto;
}
#contato #mensagemEnviar a,
#contato #mensagemEnviada a,
#orcamento a {
    color:var(--cor01);
}
#mensagemEnviar .modal-content,
#mensagemEnviada .modal-content {
    background-image:url(../images/privacyup-background-inicio-section005-min.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
#orcamento .modal-content {
    background-image:url(../images/privacyup-background-inicio-orcamento-min.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
#mensagemEnviar .btn-close,
#mensagemEnviada .btn-close,
#orcamento .btn-close {
    color:var(--gray5);
}
#mensagemEnviar .grid-left,
#orcamento .grid-left,
#contato .grid-left,
#mensagemEnviada .grid-left {
    color:var(--gray5);
    width:50vh;
    height:auto;
    padding:5vh 0;
    margin:10vh 10vh 10vh auto;
    display:flex;
    flex-direction:column;
    justify-content: start;
    align-items:start;
    text-align: start;
}
#mensagemEnviar .grid-left .brand,
#orcamento .grid-left .brand,
#contato .grid-left .brand,
#mensagemEnviada .grid-left .brand {
    width:30vh;
}
#mensagemEnviar .grid-left a,
#orcamento .grid-left a,
#contato .grid-left a {
    color:var(--gray5)!important;
    text-align: left;
}
#mensagemEnviar .grid-left a:hover,
#orcamento .grid-left a:hover,
#contato .grid-left a:hover {
    color:var(--cor01)!important;
}
#mensagemEnviar .grid-right,
#orcamento .grid-right,
#contato .grid-right {
    position:relative;
    top:15vh;
    left:0;
    width:65vh;
    height:auto;
    color:var(--gray5);
    padding:5vh;
    background-color: var(--cor03);
    border-radius:2vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#mensagemEnviar .grid-right p,
#orcamento .grid-right p,
#contato .grid-right p {
    text-align:start;
}
#contato #mensagemEnviada .grid-right p {
    text-align:center;
}
#mensagemEnviar .form-control,
#mensagemEnviar .form-floating>label,
#orcamento .form-control,
#orcamento .form-floating>label,
#contato .form-control,
#contato .form-floating>label {
    color:var(--gray1)!important;
}
#mensagemEnviar .form-control:focus,
#orcamento .form-control:focus,
#contato .form-control:focus {
    background-color:var(--gray4);
    border-color:var(--gray4);
    outline:0;
    box-shadow:0 0 0 0 rgba(0,0,0,0);
}
@media screen and (max-width:768px) {
    #mensagemEnviar .modal-content,
    #mensagemEnviada .modal-content,
    #orcamento .modal-content {
        background-position:85% 0%;
    }
    #mensagemEnviar .grid-left,
    #mensagemEnviar .grid-right,
    #orcamento .grid-left,
    #orcamento .grid-right,
    #contato .grid-left,
    #contato .grid-right {
        width:100%;
        padding:2vh;
        margin:10vh 0 0 0;
    }
    #mensagemEnviar .grid-right,
    #orcamento .grid-right,
    #contato .grid-right {
        top:0;
        margin:0;
    }
}
/* FOOTER */
#footer {
    color:var(--gray5);
    padding:3vh 0 3vh 0;
    background-color:var(--cor01);
}
#footer .social-icon {
    font-size:150%;
    color:var(--gray5);
    text-decoration:none;
    margin:1vh;
    transition:all 0.5s ease;
}
#footer .social-icon:hover {
    color:var(--cor02);
}
#footer a {
    color:var(--gray5);
}
#footer a:hover {
    color:var(--cor02);
}
@media screen and (max-width:768px) {
    #footer .politics {
        padding-top:3vh;
        padding-bottom:3vh;
    }
    #footer .copyright,
    #footer .text-end {
        position:relative;
        text-align:center!important;
    }
}



@media screen and (max-width:1024px) {}
@media screen and (max-width:768px) {}
@media screen and (max-width:576px) {}

@keyframes enterLeft {
    from {}
    to {}
}
