@charset "UTF-8";
/*
 * Cristian Elvis - v1.0 (http://cristianelvis.com)
 * Copyright 2022 Cristian Elvis
 */
:root {
    --cor01:#2c3d4f;
    --cor02:#8d3353;
    --cor03:#00a8c3;
    --cor04:#259a98;
    --cor05:#acacac;
    --gray0:#262626;
    --gray1:#413e3e;
    --gray2:#626060;
    --gray3:#c4c4c4;
    --gray4:#f4f4f4;
    --gray5:#f6f6f6;
}
html,
body {
    position:relative;
    font-family:'Montserrat', Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
    font-size:14px;
    font-weight:400;
    line-height:120%;
    color:var(--cor01);
    text-align:center;
}
body::after {
    position:absolute;
    width:0;
    height:0;
    overflow:hidden;
    z-index:-1;
    content:url(../images/underconstruction-background-min.png);
}
.navbar {
    padding:0.6vh 1.2vw 0.6vh 1.2vw;
}
.navHide,
.navShow {
    top:0;
    background-color:transparent;
    transition:all 0.5s ease;
}
.navShow {
    top:0;
    background-color:var(--cor03);
    transition:all 0.5s ease;
}
.navbar-brand {
    width:20vh;
    padding:0;
    margin:1vh 0;
    font-size:unset;
    text-decoration:unset;
    white-space:nowrap;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-dark .navbar-nav .nav-link.active {
    position:relative;
    top:0;
    font-size:100%;
    color:var(--gray5);
    padding:1vh 2.5vh;
    margin:0 auto;
    display:inline-block;
    white-space:nowrap;
    transition:all 0.5s ease;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .show>.nav-link {
    color:var(--gray5)!important;
    background-color:var(--cor02);
    border-radius:5vh;
}
.navbar-dark .navbar-nav .nav-link:hover {
    color:var(--cor02);
    top:-0.6vh;
}
.navbar-dark .navbar-nav .nav-link:focus {
    color:var(--cor2);
}
.dropdown-menu {
    background-color:var(--gray4);
    border:0;
}
.dropdown-item {
    position:relative;
    top:0;
    font-size:100%;
    color:var(--cor01);
    padding:1vh 2.5vh;
    margin:0 auto;
    display:inline-block;
    white-space:nowrap;
    transition:all 0.5s ease;
}
.dropdown-item.active,
.dropdown-item:active {
    color:var(--gray5);
    background-color:var(--cor02);
}
.dropdown-item:hover {
    color:var(--gray5);
    top:-0.6vh;
    background-color:var(--cor03);
}
.dropdown-item:focus {
    color:var(--gray5);
    background-color:var(--cor02);
}
.dropdown-item .flag {
    width:3vh;
    border-radius:0.3vw;
    display:inline-block;
}
.btn-primary,
.btn-secondary {
    color:var(--gray5);
    padding:1vh 2.5vh;
    background-color:var(--cor03);
    border-color:var(--cor03);
    border-radius:5vh;
    transition:all 0.5s ease;
}
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover {
    color:var(--gray5)!important;
    background-color:var(--cor02);
    border-color:var(--cor02);
}
.btn-secondary {
    background-color:var(--cor01);
    border-color:var(--cor01);
}
.btn-secondary:active,
.btn-secondary:focus,
.btn-secondary:hover {
    color:var(--gray5)!important;
    background-color:var(--cor02);
    border-color:var(--cor02);
}
.btn-close {
    font-size:100%;
    color:var(--cor03);
    position:fixed;
    top:4vh;
    right:4vh;
    width:unset;
    height:unset;
    padding:0;
    margin:0 auto;
    border:0;
    border-radius:0;
    background:unset;
    box-shadow:unset;
    display:flex;
    flex-direction:column;
    justify-content:start;
    align-items:center;
    transition:all 0.5s ease;
    opacity:1;
    z-index:2;
}
.btn-close:hover {
    font-size:130%;
    font-weight:900;
    color:var(--cor02)!important;
    text-shadow:2px 2px 2px rgba(0, 0, 0, 0.25);
}
.btn-close:active,
.btn-close:focus {
    color:var(--cor02);
}
.btn-close i {
    font-size:200%;
    margin-bottom:1vh;
}
.section002,
.section003,
.section004 {
    width:100%;
    height:100vh;
    padding:20vh 0 0 0;
}
.section002,
.section004 {
    background-color:var(--gray3);
}
/* INÃCIO */
#inicio.section001 {
    width:100%;
    height:auto;
    padding:0;
}
#inicio .section001Image001 {
    width:100%;
    height:90vh;
    background-image:url(../images/privacyup-background-inicio-section001-min.png);
    background-position: center center;
    background-repeat:no-repeat;
    background-size: cover;
}
#inicio #carouselPrivacyupInicio .carousel-caption {
    position: absolute;
    top:35%;
    right:10%;
    bottom:unset;
    left:10%;
    padding-top:1vh;
    padding-bottom:1vh;
    color:white;
    text-align:left;
}
#inicio .l1 {
    font-size:300%;
    line-height:120%;
    font-weight:900;
}
#inicio .l2 {
    font-size:150%;
    line-height:120%;
}
@media screen and (max-width:768px) {
    #inicio #carouselPrivacyupInicio .carousel-caption {
            top:unset;
            bottom:10%;
            text-align:left;
    }
    #inicio .section001Image001 {
        height:100vh;
        background-position:75% 0%;
    }
}







/* CONTATO */
#contato.section005 {
    color:var(--gray5);
    width:100%;
    height:auto;
    padding:10vh 3vh;
    background-color:var(--cor04);
}
#contato .grid {
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#contato h1 {
    font-weight:900;
}
#contato a {
    font-size:100%;
    color:var(--gray5);
    text-decoration:none;
    margin:1vh;
    transition:all 0.5s ease;
}
#contato a:hover {
    color:var(--cor02);
}
#contato .btn-secondary {
    text-align:center;
    margin:0 auto;
}
#contato #mensagemEnviar a,
#contato #mensagemEnviada a {
    color:var(--cor01);
}
#mensagemEnviar .modal-content,
#mensagemEnviada .modal-content {
    background-image:url(../images/privacyup-background-inicio-section005-min.png);
    background-position:center center;
    background-repeat:no-repeat;
    background-size:cover;
}
#mensagemEnviar .btn-close,
#mensagemEnviada .btn-close {
    color:var(--gray5);
}
#contato .grid-left {
    color:var(--gray5);
    width:50vh;
    height:auto;
    padding:5vh 0;
    margin:10vh 10vh 10vh auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
}
#contato .grid-left .brand {
    width:30vh;
    margin:0 auto;
}
#contato .grid-left a {
    color:var(--gray5)!important;
}
#contato .grid-left a:hover {
    color:var(--cor01)!important;
}
#contato .grid-right {
    position:relative;
    top:15vh;
    left:0;
    width:60vh;
    height:auto;
    color:var(--gray5);
    padding:5vh;
    background-color:var(--cor04);
    border-radius:2vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#contato .grid-right p {
    text-align:start;
}
#contato #mensagemEnviada .grid-right p {
    text-align:center;
}
#contato .form-control,
#contato .form-floating>label {
    color:var(--gray1)!important;
}
#contato .form-control:focus {
    background-color:var(--gray4);
    border-color:var(--gray4);
    outline:0;
    box-shadow:0 0 0 0 rgba(0,0,0,0);
}
@media screen and (max-width:768px) {
    #mensagemEnviar .modal-content,
    #mensagemEnviada .modal-content {
        background-position:85% 0%;
    }
    #contato .grid-left,
    #contato .grid-right {
        width:100%;
        padding:2vh;
        margin:10vh 0 0 0;
    }
    #contato .grid-right {
        top:0;
        margin:0;
    }
}
/* FOOTER  */
#footer {
    color:var(--gray5);
    padding:3vh 0 3vh 0;
    background-color:var(--cor01);
}
#footer .social {
    font-size:150%;
    color:var(--gray5);
    text-decoration:none;
    margin:1vh;
    transition:all 0.5s ease;
}
#footer .social:hover {
    color:var(--cor02);
}
@media screen and (max-width:768px) {
    #footer .text-start,
    #footer .text-end {
        position:relative;
        text-align:center!important;
    }
    #footer .text-start {
        top:30px
    }
    #footer .text-end {
        top:-20px
    }
}



@media screen and (max-width:1024px) {}
@media screen and (max-width:768px) {}
@media screen and (max-width:576px) {}